@inherits LayoutComponentBase

@layout BasicLayout
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject NavigationManager navMan
@inject SignInManager<ApplicationUser> SignInMgr
@inject IJSRuntime js
@implements IDisposable;

@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Identity
@using System.Text
@using U3A.Data

@attribute [Authorize]

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{
    <Progress @ref=@progress />
    <MessageBox @ref=@messageBox />

    <div class="col col-12 col-md-10 col-lg-6 mt-2 px-2 mx-auto">
        <div class="text-center alert alert-primary w-100">
            <div class="w-100 pb-2">@welcomeText</div>
            <DxButton Text="Today's Schedule" Click="@SetupClassesToday"
                      RenderStyle="ButtonRenderStyle.Primary" IconCssClass="bi bi-alarm"
                      RenderStyleMode="ButtonRenderStyleMode.Outline"
                      Visible=@(classText == null) />
            <div class="w-100">@classText</div>
        </div>
        <DxAccordion ExpandMode="AccordionExpandMode.Single" CssClass="col col-12 col-lg-10 mx-auto"
                     ExpandCollapseAction="AccordionExpandCollapseAction.HeaderClick">

            <Items>
                @if (ShowEnrolmentSubMneu)
                {
                    <DxFormLayoutGroup Caption="Manage Course Enrolments" CssClass="px-1">
                        <div class="p-2 mx-auto" hidden="@(loginState?.IsAdminOnBehalfOfMember)">
                            <TermsAndConditions RequireConfirmation="true"
                                                Participant="@loginState?.SelectedPerson"
                                                OnConfirmationChanged="@((bool value) => areTermsConfirmed = value)"
                                                SystemSettings="@settings"
                                                IsEnrolmentNotice=true
                                                OnCollapsed="@(() => InvokeAsync(StateHasChanged))" />
                        </div>
                        <DxButton Text="Request course enrolments" Context="ThisContext"
                                  IconCssClass="bi bi-mortarboard me-3"
                                  CssClass="col-12 mt-1"
                                  Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoRequestMemberEnrolment))"
                                  RenderStyle="ButtonRenderStyle.Primary"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline">
                        </DxButton>
                        <DxButton Text="Withdraw from course enrolments" Context="ThisContext"
                                  IconCssClass="menu-icon bi-trash me-3"
                                  CssClass="col-12 mt-1"
                                  Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoWithdrawMemberEnrolment))"
                                  RenderStyle="ButtonRenderStyle.Primary"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline">
                        </DxButton>
                        <DxButton Text="Return to menu"
                                  IconCssClass="menu-icon bi-door-closed me-1"
                                  CssClass="col-12 mt-1"
                                  Click="@(e => OnMenuSelected(e,PortalMenuSelection.ShowMenu))"
                                  RenderStyle="ButtonRenderStyle.Primary"
                                  RenderStyleMode="ButtonRenderStyleMode.Outline">
                        </DxButton>
                    </DxFormLayoutGroup>
                }
                else
                {
                    <DxAccordionItem Text="Main Menu" Expanded=true>
                        <ContentTemplate>
                            @if (!string.IsNullOrWhiteSpace(InMaintenanceTill))
                            {
                                <div class="alert alert-info  text-center">
                                    <h5>Member Portal Maintenance Mode</h5>
                                    <p>Access to the system is currently disabled while we perform important work on our database.</p>
                                    <p>@(new MarkupString($"We expect the system to resume normal operations on or after <br/><strong>{InMaintenanceTill}</strong>.")) </p>
                                </div>
                            }
                            else
                            {
                                <DxButton Text="Select linked member"
                                          Visible="@(loginState.LinkedPeople.Count > 1)"
                                          IconCssClass="menu-icon bi-people me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoSelectLinkedMember))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Your membership details"
                                          IconCssClass="menu-icon bi-person me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoMemberMaintenance))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Your membership fees"
                                          IconCssClass="menu-icon bi-coin me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoMemberPayment))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Print your member badge"
                                          IconCssClass="menu-icon bi-printer me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.PrintMemberBadge))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="View your course enrolments"
                                          IconCssClass="menu-icon bi-award me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoViewMemberEnrolment))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Manage your course enrolments"
                                          IconCssClass="menu-icon bi-mortarboard me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoShowEnrolmentSubmenu))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Class Sign In / Sign Out"
                                          IconCssClass="menu-icon bi-alarm me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoSignInSignOut))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="On Leave? Please let us know"
                                          IconCssClass="menu-icon bi-airplane me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoMemberLeave))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                @if (loginState != null && !loginState.IsAdminOnBehalfOfMember)
                                {
                                    <DxButton Text="What's on today?"
                                              IconCssClass="menu-icon bi-clock me-1"
                                              CssClass="col-12 mt-1"
                                              Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoWhatsOn))"
                                              RenderStyle="ButtonRenderStyle.Primary"
                                              RenderStyleMode="ButtonRenderStyleMode.Outline">
                                    </DxButton>
                                }
                                <DxButton Text="Your Leadership role"
                                          IconCssClass="menu-icon bi-person-video3 me-1"
                                          CssClass="col-12 mt-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoShowLeaderMenu))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                            }
                            @if (loginState != null && loginState.IsAdminOnBehalfOfMember)
                            {
                                <DxButton Text="Return to Admin Portal"
                                          IconCssClass="menu-icon bi-door-closed me-1"
                                          CssClass="col-12 my-1"
                                          Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoReturnToAdminPortal))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                            }
                            else
                            {
                                <DxButton Text="Logout, when you're finished"
                                          IconCssClass="menu-icon bi-door-closed me-1"
                                          CssClass="col-12 my-1"
                                          Click="OnLogout"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                            }
                        </ContentTemplate>
                    </DxAccordionItem>

                    <DxAccordionItem Text="Linked Members">
                        <ContentTemplate>
                            <div class="text-center alert alert-info ">
                                <p>
                                    A <strong>linked member</strong> is one who shares your email address.
                                    It is mainly intended for your spouse or partner but might also
                                    be used for friends without access to a digital device.
                                </p>
                                <p>When you link a member, you assume responsibilty for payment of fees and course enrolment for that member.</p>
                                <p><strong>Please do not share your password</strong></p>
                            </div>
                            <DxButton Text="Link a new member"
                                      IconCssClass="menu-icon bi-person-plus me-1"
                                      CssClass="col-12 mb-1"
                                      Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoLinkNewMember))"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      RenderStyleMode="ButtonRenderStyleMode.Outline">
                            </DxButton>
                            <DxButton Text="Link an existing member"
                                      IconCssClass="menu-icon bi-person-plus me-1"
                                      CssClass="col-12 mb-1"
                                      Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoLinkExistingMember))"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      RenderStyleMode="ButtonRenderStyleMode.Outline">
                            </DxButton>
                            <DxButton Text="Unlink a member"
                                      IconCssClass="menu-icon bi-person-dash me-1"
                                      CssClass="col-12 mb-1"
                                      Click="@(e => OnMenuSelected(e,PortalMenuSelection.DoUnlinkMember))"
                                      RenderStyle="ButtonRenderStyle.Primary"
                                      RenderStyleMode="ButtonRenderStyleMode.Outline">
                            </DxButton>
                        </ContentTemplate>
                    </DxAccordionItem>
                    @if (loginState != null && !loginState.IsAdminOnBehalfOfMember)
                    {
                        <DxAccordionItem Text="Manage Credentials">
                            <ContentTemplate>
                                <DxButton Text="Change your email address"
                                          IconCssClass="menu-icon bi-shield-check me-1"
                                          CssClass="col-12 mb-1"
                                          Click="@(e => OnChangeCredential(e,"Email"))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Change your password"
                                          IconCssClass="menu-icon bi-shield-lock me-1"
                                          CssClass="col-12 mb-1"
                                          Click="@(e => OnChangeCredential(e,"ChangePassword"))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                                <DxButton Text="Two-Factor authentication"
                                          IconCssClass="menu-icon bi-shield-check me-1"
                                          CssClass="col-12 mb-1"
                                          Click="@(e => OnChangeCredential(e,"TwoFactorAuthentication"))"
                                          RenderStyle="ButtonRenderStyle.Primary"
                                          RenderStyleMode="ButtonRenderStyleMode.Outline">
                                </DxButton>
                            </ContentTemplate>
                        </DxAccordionItem>
                    }
                }
            </Items>
        </DxAccordion>
        <p class="text-center">@($"There are {openCircuits} users logged in.")</p>
    </div>
    <footer class="w-100 links-container">
        &copy; @(DateTime.Today.Year) M &amp; B Hanlon Pty Ltd
        <div class="dot" />
        <a href="Public/Support">Click for support</a>
    </footer>

    <style>

        .schedule-table {
            table-layout: fixed;
            padding-bottom: 0;
            margin-bottom: 0;
        }

            .schedule-table > tr {
                line-height: 0.33rem;
                min-height: 0.33rem;
                height: 0.33rem;
            }

    </style>
}
@code {
    [CascadingParameter(Name = "OpenCircuits")]
    public int openCircuits { get; set; }


    [CascadingParameter]
    public LoginState? loginState { get; set; }

    [CascadingParameter(Name = "QueryResult")]
    public string? QueryResult { get; set; }

    [Parameter]
    public EventCallback<PortalMenuSelection> OnMenuOptionSelected { get; set; }

    [Parameter, EditorRequired]
    public Term? CurrentTerm { get; set; }

    [Parameter, EditorRequired]
    public bool ShowEnrolmentSubMneu { get; set; }

    bool IsReady;
    SystemSettings? settings;
    MarkupString? message;
    MarkupString welcomeText;
    MarkupString? classText;
    MessageBox? messageBox;
    string? SuccessMsg = null;
    Progress? progress;
    DateTime localTime;
    string InMaintenanceTill = string.Empty;
    bool areTermsConfirmed;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            localTime = dbc.GetLocalTime();
            settings = await dbc.SystemSettings.AsNoTracking().OrderBy(x => x.ID).FirstOrDefaultAsync();
            InMaintenanceTill = await BusinessRule.IsInMemberPortalMaintenanceModeTillAsync(dbc);
        }
        if (loginState != null) { await SetupTitle(); }
        IsReady = true;
    }

    async Task SetupTitle()
    {
        var email = loginState.LoginEmail;
        Person person;
        DateTime? openingTime = null;
        Term nextTerm = default;
        var welcome = "Welcome to our U3A";
        if (loginState.SelectedPerson != null)
        {
            person = loginState.SelectedPerson;
            using (var dbc = await U3Adbfactory.CreateDbContextAsync())
            {
                nextTerm = await BusinessRule.GetNextTermAsync(dbc, CurrentTerm);
                //Special case: enrolment day
                openingTime = await BusinessRule.IsEnrolmentDayLockoutPeriod(dbc, dbc.GetLocalTime().Date);
            }
            welcome = $"Welcome <strong>{person.FullName}</strong>";
            if (person.IsLifeMember)
            {
                welcome += $"<br/>Life Member";
            }
            else if (person.FinancialTo >= CurrentTerm.Year)
            {
                welcome += $"<br/>Financial to: <strong>{person.FinancialToText}</strong>";
                var services = new MemberFeeCalculationService();
                decimal fee = await services.CalculateFeeAsync(U3Adbfactory, person);
                if (fee > 0) welcome += $" Remaining: <strong>{fee.ToString("c2")}</strong>";
            }
            else
            {
                welcome += $"<br/>Your <strong>{CurrentTerm.Year}</strong> membership fees are now due";
            }
            welcomeText = new MarkupString(welcome);
        }
        else if (email != null)
        {
            welcomeText = new MarkupString($"Welcome <strong>{loginState.LoginEmail}</strong>");
        }
        //
        if (CurrentTerm != null)
        {
            if (localTime.Date > CurrentTerm.EndDate)
            {
                if (nextTerm != null)
                {
                    var sOpeningTime = nextTerm?.EnrolmentStartDate.ToString("dddd, dd-MMM-yyyy");
                    welcomeText = new MarkupString($@"<h6><strong>{nextTerm.Year} Term-{nextTerm.TermNumber}</strong> membership and course enrolments will open</br>{sOpeningTime}.</h6>");
                }
                else
                {
                    welcomeText = new MarkupString(@"<h6>Membership renewal and course enrolments are currenlty closed.</h6>");
                }
            }

            // The day before new year enrolment day
            if (openingTime != null)
            {
                var sOpeningTime = openingTime?.ToString("ddd dd-MMM-yy hh:mm tt");
                welcomeText = new MarkupString($@"<h6><strong>{CurrentTerm.Year}</strong> membership and course enrolments will open</br>{sOpeningTime}.</h6>");
            }
        }
    }

    async Task SetupClassesToday()
    {
        string delTextStart;
        string delTextEnd;
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            settings = await dbc.SystemSettings.OrderBy(x => x.ID).FirstOrDefaultAsync();
            classText = null;
            var classesToday = await BusinessRule.GetMemberClassesToday(dbc, loginState.SelectedPerson, localTime.Date);
            if (classesToday?.Count > 0)
            {
                var txt = new System.Text.StringBuilder();
                txt.AppendLine("<table class='schedule-table'>");
                txt.AppendLine("<thead><tr><td colspan='5' class='h6'>Today's Schedule</td></tr></thead>");
                txt.AppendLine("<tbody>");
                foreach (var item in classesToday)
                {
                    delTextStart = (item.IsCancelled) ? "<del>" : "";
                    delTextEnd = (item.IsCancelled) ? "</del>" : "";
                    txt.AppendLine("<tr>");
                    txt.AppendLine($"<th scope='row' class='text-start text-truncate'>{item.StartTime}</th>");
                    txt.AppendLine($"<td colspan=4 class='text-start'>{delTextStart}{item.Name}{delTextEnd}</td>");
                    txt.AppendLine("<tr>");
                }
                txt.AppendLine("</tbody>");
                txt.AppendLine("</table>");
                classText = new MarkupString(txt.ToString());
                await InvokeAsync(StateHasChanged);
            }
            else classText = new MarkupString("You have no classes today.");
        }
    }

    private void OnLogout()
    {
        // forces a close of the menu when it is in mobile mode & expanded.
        navMan.NavigateTo("javascript:document.getElementById('logout-form').submit();");
    }

    void OnChangeEmail(MouseEventArgs e)
    {
        OnChangeCredential(e, "Email");
    }

    void OnChangeCredential(MouseEventArgs e, string page)
    {
        navMan.NavigateTo("Account/Manage/" + page, true);
    }

    async Task OnMenuSelected(MouseEventArgs e, PortalMenuSelection selection)
    {
        if (selection == PortalMenuSelection.DoRequestMemberEnrolment || selection == PortalMenuSelection.DoWithdrawMemberEnrolment)
        {
            if (!await AreTermsConfirmed()) return;
        }
        if (selection == PortalMenuSelection.PrintMemberBadge &&
            loginState.SelectedPerson?.FinancialTo < localTime.Year)
        {
            await messageBox.ShowOkOnlyAsync("Financial Members Only", "You must be a financial member to select this option.");
        }
        else { await OnMenuOptionSelected.InvokeAsync(selection); }
    }

    async Task<bool> AreTermsConfirmed()
    {
        if (loginState.IsAdminOnBehalfOfMember) return true;
        if (!areTermsConfirmed)
        {
            await messageBox.ShowOkOnlyAsync("Confirm Terms & Conditions", "Please confirm you have read and agree to our terms & conditions.");
        }
        return areTermsConfirmed;
    }

    public void Dispose()
    {
    }
}
