@namespace U3A.UI.Forms


@inject IJSRuntime js
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using U3A.Services.APIClient

@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject IDbContextFactory<TenantDbContext> TenantDbfactory
@inject TenantInfoService tenantService
@inject ILogger<LeaderReport> Logger
@inject IWebHostEnvironment Environment
@implements IDisposable
@using U3A.UI.Reports

@attribute [Authorize]

<PdfViewer PdfIsReady=@showPDF DocumentContent="@pdfContent" OnCloseButtonClick="@(() => showPDF = false)" />

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{
    <div class="px-2">
        <h3>@Title</h3>
        <p>Queue Class reports for selected courses/leaders.</p>
        <CollapsableContent DismissKey="{40D384A9-AA9E-49AD-8F70-BA65C97ACF0D}"
                            AlertText=@(@"<p><strong>Leader Reports</strong> is now an automated procedure.<br />
                                                All reports are automatically sent to leaders one day prior (Sunday) to the
                                                start of term.</p>")
                        OnDismissChanged="@((bool IsDismissed) => OnContentChange(IsDismissed))"
                        OnToggleAlert="@(() => InvokeAsync(StateHasChanged))" />
    <DxFormLayout>
        <DxFormLayoutItem Caption="Enrolment Term" ColSpanMd="6">
            <TermsComboBox Terms="@terms"
                           @bind-SelectedTerm="@selectedTerm"
                           @bind-SelectedTerm:after=@(async() => await SelectedTermChanged(selectedTerm)) />
        </DxFormLayoutItem>
    </DxFormLayout>
    <br />

        <MessageBox @ref="@messageBox" />
        <Progress @ref="@ProgressBar" />
        <ErrorPopup @ref="@ErrorPopup" PopupHeader="@ErrorHeader" PopupMessage="@ErrorMessage" />

        <DxFormLayout>
            <div class="col-9 px-4">
                <FullScreen DisplayOffset="@contentSize">
                    <ContentTemplate>
                        <DxGrid id="my-grid" Data="@Classes" @ref=@mainGrid
                                ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                                ShowFilterRow="false"
                                ShowAllRows="true"
                                KeyFieldName="ID"
                                SelectionMode="@((AllowMultipleSelection) ? GridSelectionMode.Multiple : GridSelectionMode.Single)"
                                UnboundColumnData="Grid_CustomUnboundColumnData"
                                SelectedDataItemChanged="OnSelectedDataItemChanged"
                                @bind-SelectedDataItems="SelectedDataItems"
                                ValidationEnabled="true">
                            <ToolbarTemplate>
                                <GridToolbar LinkedGrid=@mainGrid LayoutKey="{3607602E-7BF7-40D9-9D42-B3DEA3BCC287}" />
                            </ToolbarTemplate>
                            <Columns>
                                <DxGridSelectionColumn Width="2rem" />
                                <DxGridDataColumn Caption="Name" FieldName="Course.Name" Width="20rem" />
                                <DxGridDataColumn Caption="Offered" FieldName="OfferedSummary" />
                                <DxGridDataColumn Caption="Venue" FieldName="Venue.Name" />
                                <DxGridDataColumn Caption="Held" FieldName="OccurrenceTextBrief" />
                                <DxGridDataColumn Caption="Start" FieldName="StartTime" DisplayFormat="hh:mm tt" />
                                <DxGridDataColumn Caption="Send To 1" FieldName="Recipient0"
                                                  UnboundType="GridUnboundColumnType.String" Width="10rem" />
                                <DxGridDataColumn Caption="Send To 2" FieldName="Recipient1"
                                                  UnboundType="GridUnboundColumnType.String" />
                                <DxGridDataColumn Caption="Send To 3" FieldName="Recipient2"
                                                  UnboundType="GridUnboundColumnType.String" />
                            </Columns>
                            <TotalSummary>
                                <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" Name="Course.Name" FieldName="Course.Name" />
                            </TotalSummary>

                        </DxGrid>
                    </ContentTemplate>
                </FullScreen>
            </div>
            <div class="col col-3">
                <SelectLeaderReports @ref=@rptSelect AllowPrintAndEmail="@AllowPrintAndEmail"
                                     AreSelectionsMade="@AreSelectionsMade" PrintSelectedReports="OnPrintReportsAsync"
                                     QueueSelectedReports="OnQueueReportsSelected" />
            </div>
        </DxFormLayout>
    </div>
}


@code {
    [Parameter]
    public bool AllowPrintAndEmail { get; set; } = false;
    [Parameter]
    public bool AllowMultipleSelection { get; set; } = true;
    [Parameter]
    public string Title { get; set; } = "Queue Leader Reports for email";

    int contentSize;
    bool IsReady;
    List<Class> Classes { get; set; } = new List<Class>();
    List<Term> terms { get; set; }
    Term currentTerm;
    Term selectedTerm;
    SystemSettings settings;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    List<LeaderReportRecipientsByClass> reportRecipients;

    bool AreSelectionsMade { get; set; }
    SelectLeaderReports? rptSelect;

    DxGridCommandColumnEx? GridCommandColumn;
    MessageBox messageBox;

    IGrid? mainGrid { get; set; }
    ErrorPopup? ErrorPopup { get; set; }
    GridToolbar? Toolbar;
    Progress? ProgressBar;
    string ErrorHeader;
    string ErrorMessage;
    U3ADbContext dbc { get; set; }
    TenantDbContext dbcT { get; set; }
    bool showPDF;
    string pdfPath;
    byte[] pdfContent;

    protected override async Task OnInitializedAsync()
    {
        // wire up the data
        dbc = await U3Adbfactory.CreateDbContextAsync();
        dbcT = await TenantDbfactory.CreateDbContextAsync();
        settings = await dbc.SystemSettings.OrderBy(x => x.ID).FirstOrDefaultAsync();
        terms = await BusinessRule.SelectableTermsInCurrentYearAsync(dbc);
        currentTerm = await BusinessRule.CurrentEnrolmentTermOrNextAsync(dbc);
        selectedTerm = currentTerm;
        await SelectedTermChanged(selectedTerm);
        IsReady = true;
    }

    async Task SelectedTermChanged(Term term)
    {
        selectedTerm = term;
        Classes = (await BusinessRule.GetClassDetailsAsync(dbc, selectedTerm, settings))
                        .OrderBy(x => x.Course.Name).ThenBy(x => x.OnDayID).ToList();
        reportRecipients = await BusinessRule.GetLeaderReportRecipientsByClass(dbc, settings, currentTerm, Classes);
    }

    void OnContentChange(bool IsDismissed)
    {
        contentSize = (IsDismissed) ? 13 : 22;
        StateHasChanged();
    }

    void OnSelectedDataItemChanged()
    {
        AreSelectionsMade = true;
    }

    async Task OnPrintReportsAsync()
    {
        var Class = SelectedDataItems[0] as Class;
        var Course = Class.Course;
        await ProgressBar.ShowSmallSpinnerAsync();
        var recipients = await BusinessRule.GetLeaderReportRecipients(dbc, settings, currentTerm, Class);
        var enrolments = await BusinessRule.GetEnrolmentIncludeLeadersAsync(dbc, Course, Class, selectedTerm);
        if (Course.CourseParticipationTypeID == (int)ParticipationType.SameParticipantsInAllClasses)
        {
            enrolments.AddRange(await BusinessRule.GetMultiCampusEnrolmentsAsync(dbc, dbcT,
                        await tenantService.GetTenantIdentifierAsync(), Course.ID));
        }
        else
        {
            enrolments.AddRange(await BusinessRule.GetMultiCampusEnrolmentsAsync(dbc, dbcT,
                                    await tenantService.GetTenantIdentifierAsync(), Course.ID, Class.ID));
        }
        if (await IsDataOk(recipients, enrolments))
        {
            // create a dummy SendMail object
            var printDoc = new SendMail()
            {
                ID = Guid.NewGuid(),
                DocumentName = "U3A Leaders Reports",
                PersonID = Class.LeaderID ?? Class.Leader2ID ?? Class.Leader3ID ?? Guid.Empty,
                TermID = selectedTerm.ID,
                PrintAttendanceRecord = rptSelect.PrintAttendanceRecord,
                PrintAttendanceAnalysis = rptSelect.PrintAttendanceAnalysis,
                PrintClassList = rptSelect.PrintClassList,
                PrintCSVFile = rptSelect.PrintCSVFile,
                PrintICEList = rptSelect.PrintICEList,
                PrintLeaderReport = rptSelect.PrintLeaderReport,
                PrintMemberBadges = rptSelect.PrintMemberBadges,
                RecordKey = Class.ID,
                IsUserRequested = true
            };
            await ProcessPrintDocAsync(printDoc);
        }
        await ProgressBar.Close();
    }

    async Task ProcessPrintDocAsync(SendMail printDoc)
    {
        using (var client = new APIClient())
        {
            try
            {
                pdfContent = await client.DoCreateCorrespondenceAsPdf(dbc.TenantInfo.Identifier, printDoc);
                showPDF = true;
            }
            catch (HttpRequestException e)
            {
                await messageBox.ShowOkOnlyAsync("Internet Issue", $@"<p>An Internet issue is currently preventing you mail from being processed.<br/>
                                        Keep trying, but if you do not receive a successful response shortly (say 5 minutes), contact your U3A.</p>
                {e.Message}");
            }
            catch (Exception ex)
            {
                await messageBox.ShowOkOnlyAsync("Procedure Exception", ex.Message);
            }
        }
    }


    async Task<bool> IsDataOk(IEnumerable<Person> p, IEnumerable<Enrolment> e)
    {
        var result = true;
        var enrolmentReqd = rptSelect.RequireEnrolements;
        var msg = "";
        if (enrolmentReqd && e.Count() <= 0)
        {
            result = false;
            msg += "The course has no enrolments in the current term";
        }
        if (!result)
        {
            await messageBox.SetPopupWidth("30%");
            await messageBox.ShowOkOnlyAsync("Cannot Print Report", msg);
        }
        return result;
    }


    async Task OnQueueReportsSelected()
    {
        ErrorMessage = "";
        await ProcessReportsAsync();
        var msg = $"<p>The selected documents have been queued for immediate processing and will be sent via email.</p>";
        if (ErrorMessage != "") { msg += $"<div class='alert alert-danger text-dark'>{ErrorMessage}</div>"; }
        await messageBox.ShowOkOnlyAsync("Communication Complete", msg);
    }

    async Task ProcessReportsAsync()
    {
        dbc.ChangeTracker.Clear();
        List<Guid> idsToSend = new();
        await ProgressBar.ShowAsync("Creating Report Requests ... Please Wait", SelectedDataItems.Count);
        int count = 0;
        foreach (var c in SelectedDataItems.Cast<Class>())
        {
            var recipients = GetReportRecipients(c);
            if (recipients.Count > 0)
            {
                foreach (var r in recipients)
                {
                    idsToSend.AddRange(await ProcessReportAsync(r.Person, c.Course, c));
                }
                count++;
            }
            else { ErrorMessage += $"<strong>{c.Course.Name}</strong> not printed. It has no leaders/clerks with visible email addresses.<br/>"; }
            await ProgressBar.SetValueAsync(count);
        }
        await ProgressBar.Close();
        await dbc.SaveChangesAsync();
        if (idsToSend.Count > 0)
        {
            await ProgressBar.ShowSpinnerAsync("Queue Mail Requests ... Please Wait");
            ErrorMessage = await ProcessMailAsync(idsToSend);
            await ProgressBar.Close();
        }
    }

    async Task<string> ProcessMailAsync(IEnumerable<Guid> IdsToSend)
    {
        await SetStatus(IdsToSend, "Queued");
        string result = "Your leader report emails have been successfully queued for immediate processing";
        using (var client = new APIClient())
        {
            try
            {
                await client.DoSendRequestedLeaderReports(dbc.TenantInfo.Identifier, IdsToSend);
            }
            catch (HttpRequestException e)
            {
                result = $@"<p>An Internet issue is currently preventing you mail from being processed.<br/>
                                        We'll keep trying. If you do not receive your mail within the hour, contact your U3A.</p>
                    {e.Message}";
                await SetStatus(IdsToSend, ""); // clear the status to allow retry
            }
            catch (Exception ex)
            {
                result = ex.Message;
                await SetStatus(IdsToSend, "Failed");
            }
            finally
            {
                await dbc.SaveChangesAsync();
            }
        }
        return result;
    }

    async Task SetStatus(IEnumerable<Guid> IdsToSend, string Status)
    {
        foreach (var id in IdsToSend)
        {
            var mail = await dbc.SendMail.FindAsync(id);
            mail.Status = Status;
        }
        await dbc.SaveChangesAsync();
    }

    async Task<List<Guid>> ProcessReportAsync(Person Leader, Course Course, Class Class)
    {
        List<Guid> result = new List<Guid>();
        var enrolments = new List<Enrolment>();
        if (dbc.Enrolment.Any(x => x.ClassID == Class.ID && x.TermID == selectedTerm.ID))
        {
            enrolments = dbc.Enrolment.IgnoreQueryFilters()
                                .Include(x => x.Person)
                                .Where(x => !x.IsDeleted && x.ClassID == Class.ID
                                            && x.TermID == selectedTerm.ID).ToList();
            enrolments.AddRange(await BusinessRule.GetMultiCampusEnrolmentsAsync(dbc, dbcT,
                                    await tenantService.GetTenantIdentifierAsync(), Course.ID, Class.ID));
        }
        else
        {
            enrolments = dbc.Enrolment.IgnoreQueryFilters()
                                .Include(x => x.Person)
                                .Where(x => !x.IsDeleted && x.CourseID == Course.ID
                                                && x.TermID == selectedTerm.ID).ToList();
            enrolments.AddRange(await BusinessRule.GetMultiCampusEnrolmentsAsync(dbc, dbcT,
                                    await tenantService.GetTenantIdentifierAsync(), Course.ID));
        }
        ;
        if (enrolments.Count > 0 || !rptSelect.RequireEnrolements)
        {
            var mail = new SendMail()
            {
                ID = Guid.NewGuid(),
                DocumentName = "U3A Leaders Reports",
                Person = await dbc.Person.FindAsync(Leader.ID),
                PersonID = Leader.ID,
                TermID = selectedTerm.ID,
                PrintAttendanceRecord = rptSelect.PrintAttendanceRecord,
                PrintAttendanceAnalysis = rptSelect.PrintAttendanceAnalysis,
                PrintClassList = rptSelect.PrintClassList,
                PrintCSVFile = rptSelect.PrintCSVFile,
                PrintICEList = rptSelect.PrintICEList,
                PrintLeaderReport = rptSelect.PrintLeaderReport,
                PrintMemberBadges = rptSelect.PrintMemberBadges,
                RecordKey = Class.ID,
                IsUserRequested = true
            };
            dbc.Add(mail);
            result.Add(mail.ID);
        }
        else
        {
            ErrorMessage += $"<strong>{Course.Name}</strong> not printed because it has no enrolments<br/>";
        }
        return result;
    }

    void Grid_CustomUnboundColumnData(GridUnboundColumnDataEventArgs e)
    {
        var Class = e.DataItem as Class;
        var recipient = GetReportRecipients(Class);
        if (e.FieldName == "Recipient0" && recipient.Count >= 1)
        {
            e.Value = recipient[0]?.Person.FullName;
        }
        if (e.FieldName == "Recipient1" && recipient.Count >= 2)
        {
            e.Value = recipient[1]?.Person.FullName;
        }
        if (e.FieldName == "Recipient2" && recipient.Count >= 3)
        {
            e.Value = recipient[2]?.Person.FullName;
        }
    }

    List<LeaderReportRecipientsByClass> GetReportRecipients(Class c)
    {
        return reportRecipients
            .Where(x => x.Class.ID == c.ID)
            .OrderBy(x => x.SortOrder).ThenBy(x => x.Person.FullNameAlpha).ToList();
    }

    public void Dispose()
    {
        dbc?.Dispose();
    }

}
