@namespace U3A.UI.Forms

@inject IJSRuntime js
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@using U3A.Services
@using U3A.Services.Email;


<Progress @ref=progressBar />
<MessageBox @ref=messageBox />

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{
    <div class="w-100 px-2">
        <h4>Search Email</h4>
        <DxFormLayoutGroup Caption="Search Email" Expanded="@areDetailsExpanded"
                           ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End" ColSpanMd="8"
                           ExpandedChanged="@(async () => {areDetailsExpanded = !areDetailsExpanded;
                                                           fullScreen.RefreshLayout(!areDetailsExpanded);
                                                           })">
<Items>
            <DxFormLayoutItem Caption="Search for participant" ColSpanLg="12">
                <DxComboBox Data="@people"
                            AllowUserInput=true
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            SearchMode="ListSearchMode.AutoSearch"
                            ListRenderMode="ListRenderMode.Virtual"
                            TextFieldName="@nameof(Person.PersonSummary)"
                            @bind-Value="@selectedPerson">
                    <Buttons>
                        <DxEditorButton Text="Search" CssClass="text-primary"
                                        IconCssClass="h5 bi bi-search"
                                        Tooltip="Click to search for the selected member"
                                        Click="@OnSearch" />
                    </Buttons>
                </DxComboBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Or, email address" ColSpanLg="12">
                <DxComboBox Id="emailId" Data="@email"
                            AllowUserInput=true
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            SearchMode="ListSearchMode.AutoSearch"
                            ListRenderMode="ListRenderMode.Virtual"
                            @bind-Value="@emailAddressValue"
                            Text="@emailAddress"
                            TextChanged="@OnEnailChnaged">
                    <Buttons>
                        <DxEditorButton Text="Search" CssClass="text-primary"
                                        IconCssClass="h5 bi bi-search"
                                        Tooltip="Click to search for the selected member"
                                        Click="@OnEmailSearch" />
                    </Buttons>
                </DxComboBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Or, Date Range" ColSpanLg="6">
                <DxDateEdit @bind-Date="@fromDate" MinDate="@minDate" MaxDate="@maxDate" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="To" ColSpanLg="6">
                <DxDateEdit @bind-Date="@toDate" MinDate="@minDate" MaxDate="@maxDate">
                    <Buttons>
                        <DxEditorButton Text="Search" CssClass="text-primary"
                                        IconCssClass="h5 bi bi-search"
                                        Tooltip="Click to search for the selected member"
                                        Click="@OnDateSearch" />
                    </Buttons>
                </DxDateEdit>
            </DxFormLayoutItem>
            </Items>
        </DxFormLayoutGroup>

        <FullScreen @ref=@fullScreen DisplayOffset="22" AlternateDisplayOffset="13">
            <ContentTemplate>
                <DxGrid Data=@messages @ref=@mainGrid
                        AutoExpandAllGroupRows=false>
                    <ToolbarTemplate>
                        <GridToolbar LinkedGrid=@mainGrid />
                    </ToolbarTemplate>
                    <Columns>
                        <DxGridDataColumn Width="10rem" FixedPosition="GridColumnFixedPosition.Left" Caption="Received" FieldName="ReceivedAt" DisplayFormat="{0:dd-MMM-yyyy hh:mm tt}" />
                        <DxGridDataColumn Caption="Stream" FieldName="Stream" />
                        <DxGridDataColumn Caption="From" FieldName="From" />
                        <DxGridDataColumn Caption="To" FieldName="To" Visible=@IsSearchByDateRange />
                        <DxGridDataColumn Caption="Subject" FieldName="Subject" />
                        <DxGridDataColumn Caption="Attachments" FieldName="Attachments" />
                        <DxGridDataColumn Caption="Status" FieldName="Status" />
                        <DxGridDataColumn Width="8rem" Caption="Details" FieldName="MessageID" AllowGroup="false" FixedPosition="GridColumnFixedPosition.Right">
                            <CellDisplayTemplate>
                                <DxButton RenderStyleMode="ButtonRenderStyleMode.Outline" CssClass="w-100"
                                          RenderStyle="ButtonRenderStyle.Primary" Text="Details"
                                          Click="() => OnDetailsClick((EmailMessage)context.DataItem)"></DxButton>
                            </CellDisplayTemplate>
                        </DxGridDataColumn>
                    </Columns>
                    <TotalSummary>
                        <DxGridSummaryItem FieldName="Subject" FooterColumnName="Subject" SummaryType="GridSummaryItemType.Count" />
                    </TotalSummary>
                </DxGrid>
            </ContentTemplate>
        </FullScreen>
    </div>

    <DxWindow @ref=@emailDetailsForm Width="60vw" Height="90vh"
              AllowResize="true"
              Context="windowContext"
              CloseOnEscape=true
              ShowCloseButton=true
              ShowFooter=true
              Scrollable=true
              HeaderText="Email Message Details">
        <BodyTextTemplate>
            <DxFormLayout>
                <DxFormLayoutGroup Caption="Email Details" CssClass="my-2">
                    <div class="px-4 w-100">
                        <table class="table">
                            <tbody>
                                <tr><th scope="row" class="col-2">Time</th> <td>@selectedEmail.ReceivedAt.ToString("dd-MMM-yy hh:mm tt")</td></tr>
                                <tr><th scope="row" class="col-2">Subject</th> <td>@selectedEmail.Subject</td></tr>
                                <tr><th scope="row" class="col-2">From</th> <td>@selectedEmail.From</td></tr>
                            </tbody>
                        </table>
                    </div>
                </DxFormLayoutGroup>
                <DxGrid Data=@messageEvents @ref=@eventGrid
                        CssClass="m-2" id="myGrid">
                    <Columns>
                        <DxGridDataColumn Width="10rem" FixedPosition="GridColumnFixedPosition.Left" Caption="Time" FieldName="ReceivedAt" DisplayFormat="{0:dd-MMM-yyyy hh:mm tt}" />
                        <DxGridDataColumn Caption="Event" FieldName="Type" />
                    </Columns>
                </DxGrid>
                <DxFormLayoutGroup Caption="Message">
                    <div class="p-4">
                        @(new MarkupString(messageEvents.FirstOrDefault()?.HtmlBody))
                    </div>
                </DxFormLayoutGroup>
            </DxFormLayout>
        </BodyTextTemplate>
    </DxWindow>

    <style>
        .window-height {
            height: 40vh;
        }

        .event-grid-height {
            height: 40vh;
        }
    </style>
}


@code {
    IEnumerable<EmailMessage> messages;
    IEnumerable<EmailMessageEvent> messageEvents;
    IEnumerable<string> email;
    EmailMessage selectedEmail;
    List<Person> people { get; set; }
    Person selectedPerson { get; set; }
    MessageBox? messageBox;
    Progress? progressBar;
    U3ADbContext dbc { get; set; }
    PostmarkService service;
    bool IsReady;
    bool isSearchByEmailAddress;
    string emailAddress;
    string emailAddressValue;
    bool IsSearchByDateRange;
    bool areDetailsExpanded = true;
    FullScreen? fullScreen;

    IGrid? mainGrid { get; set; }
    IGrid? eventGrid { get; set; }
    GridToolbar? Toolbar;
    DxWindow emailDetailsForm;
    DateTime fromDate;
    DateTime toDate;
    DateTime minDate;
    DateTime maxDate;
    TimeSpan tzOffset;
    LocalTime? localTime;

    protected override async Task OnInitializedAsync()
    {
        service = new PostmarkService(U3Adbfactory);
        await GetData();
        IsReady = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (localTime == null)
        {
            localTime = new LocalTime(js);
            tzOffset = await localTime.GetTimezoneOffsetAsync();
            toDate = await localTime.GetLocalDateAsync();
            fromDate = toDate.AddDays(-6).Date;
            minDate = toDate.AddDays(-30).Date;
            maxDate = toDate;
            await InvokeAsync(StateHasChanged);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task GetData()
    {
        using (dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            people = await BusinessRule.SelectablePersonsIncludeUnfinancialAsync(dbc);
            email = people
                        .Where(x => !string.IsNullOrWhiteSpace(x.Email))
                        .OrderBy(x => x.Email)
                        .Select(x => x.Email).ToArray();
        }
    }

    async Task OnDetailsClick(EmailMessage dataItem)
    {
        await progressBar.ShowSmallSpinnerAsync();
        selectedEmail = dataItem;
        var address = (isSearchByEmailAddress) ? emailAddress : (IsSearchByDateRange) ? selectedEmail.To : selectedPerson?.Email;
        messageEvents = await service.GetEmailMessageDetailAsync(tzOffset, dataItem, address);
        await emailDetailsForm.ShowAsync();
        await progressBar.Close();
    }

    async Task OnSearch()
    {
        IsSearchByDateRange = false;
        messages = new List<EmailMessage>();
        if (selectedPerson != null && !string.IsNullOrEmpty(selectedPerson.Email))
        {
            isSearchByEmailAddress = false;
            await SearchMessagesAsync(selectedPerson.Email);
        }
        else await messageBox.ShowOkOnlyAsync("Select a participant", "You must select a participant before you click the Search button.");
    }

    void OnEnailChnaged(string newVaule)
    {
        emailAddress = newVaule;
    }

    async Task OnEmailSearch()
    {
        IsSearchByDateRange = false;
        messages = new List<EmailMessage>();
        if (!string.IsNullOrEmpty(emailAddress))
        {
            isSearchByEmailAddress = true;
            await SearchMessagesAsync(emailAddress);
        }
        else await messageBox.ShowOkOnlyAsync("Enter email address", "You must enter a email address before you click the Search button.");
    }

    async Task SearchMessagesAsync(string emailAddress)
    {
        await progressBar.ShowSmallSpinnerAsync();
        messages = await service.SearchMessagesAsync(tzOffset, emailAddress);
        await progressBar.Close();
    }

    async Task OnDateSearch()
    {
        IsSearchByDateRange = true;
        isSearchByEmailAddress = false;
        messages = new List<EmailMessage>();
        if (toDate >= fromDate)
        {
            await progressBar.ShowSmallSpinnerAsync();
            messages = await service.SearchMessagesAsync(tzOffset, From: fromDate, To: toDate);
            await progressBar.Close();
        }
        else await messageBox.ShowOkOnlyAsync("Invalid Dates", "The From date must be prior to the To date.");
    }
}
