@page "/OrganisationDetailsMnt"

@inject IJSRuntime js
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject IDbContextFactory<TenantDbContext> tenantDbfactory
@inject TenantInfoService tenantService
@inject NavigationManager NavigationManager
@implements IDisposable

@using System.Collections.ObjectModel
@using DevExpress.AIIntegration.Blazor.RichEdit
@using DevExpress.Blazor.RichEdit


@attribute [Authorize]

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{

    <div class="container h-100">
        <div class="row  align-content-start">
            <ContextHelpTitle Title="Organisation Details" HelpTopic="organistaion-details.html" />
        </div>
        <div class="d-flex w-100">
            <div class="flex-grow-1">
                <p>Organisation-wide parameters used throughout the system.</p>
            </div>
            <DxFormLayout>
                <DxFormLayoutItem CssClass="flex-grow-0"
                                  Caption="Disable Overnight Background Processing?">
                    <DxCheckBox @bind-Checked="@systemSettings.DisableBackgroundProcessing" />
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>

        <ErrorPopup @ref="@ErrorPopup" PopupHeader="@ErrorHeader" PopupMessage="@ErrorMessage" />

        <EditForm Model="@systemSettings" OnValidSubmit=@ValidFormSubmitted Context="editContext">
            <DataAnnotationsValidator />
            <DxFormLayout>
                <DxFormLayoutTabPages>
                    <DxTabPage Text="Your Group's Details">
                        <DxStackLayout CssClass="w-100 box-height" Orientation="Orientation.Horizontal">
                            <Items>
                                <DxStackLayoutItem>
                                    <Template>
                                        <DxFormLayoutGroup Caption="Organisation Details" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Timezone" ColSpanMd="12">
                                                <DxComboBox Data="@timezones" TValue="TimeZoneInfo" TData="TimeZoneInfo"
                                                            ValueFieldName="@nameof(TimeZoneInfo.DisplayName)"
                                                            TextFieldName="@nameof(TimeZoneInfo.Id)"
                                                            @bind-Text=@systemSettings.TimeZoneId>
                                                    <Columns>
                                                        <DxListEditorColumn FieldName="@nameof(TimeZoneInfo.Id)" Caption="TimeZone" Width="25rem" />
                                                        <DxListEditorColumn FieldName="@nameof(TimeZoneInfo.DisplayName)" Caption="Details" Width="25rem" />
                                                    </Columns>
                                                    <Buttons>
                                                        <DxEditorButton Text="@($"UTC {systemSettings?.UTCOffset.ToString(@"hh\:mm")}")" CssClass="text-primary"
                                                                        Enabled="false"
                                                                        IconCssClass="h5 bi bi-clock" />
                                                    </Buttons>
                                                </DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="U3A Group" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.U3AGroup" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Australian Business Number (ABN)" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.ABN" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Office Location" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.OfficeLocation" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Office Street Address" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.StreetAddress" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Office Postal Address" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.PostalAddress" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Phone Number" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.Phone" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Email Address" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.Email" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Website" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.Website" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Send Email Address" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.SendEmailAddesss"
                                                           NullText="The email address from which transaction email is sent." />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Send Email Display Name" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.SendEmailDisplayName" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Support Email Address" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.SupportEmailAddesss"
                                                           ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto
                                                           NullText="The email address to which member support requuests are sent." />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="System Postman CC Email" ColSpanMd="12">
                                                <DxMemo @bind-Text="@systemSettings.SystemPostmanCCAddresses"
                                                        Rows="3" NullText="Optional. One email address per line" CssClass="w-100" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                    </Template>
                                </DxStackLayoutItem>
                                <DxStackLayoutItem>
                                    <Template>
                                        <DxFormLayoutGroup Caption="Bank Account Details" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Bank BSB" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.BankBSB" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Bank Account Number" ColSpanMd="12">
                                                <DxTextBox @bind-Text="@systemSettings.BankAccountNo" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup>
                                            <HeaderTemplate></HeaderTemplate>
                                            <Items>
                                                <DxFormLayoutGroup Caption="Committee Positions (1 per line)" ColSpanMd="6">
                                                    <DxMemo @bind-Text="@systemSettings.CommitteePositions" Rows="16" CssClass="w-100" />
                                                </DxFormLayoutGroup>
                                                <DxFormLayoutGroup Caption="Volunteer Activities (1 per line)" ColSpanMd="6">
                                                    <DxMemo @bind-Text="@systemSettings.VolunteerActivities" Rows="16" CssClass="w-100" />
                                                </DxFormLayoutGroup>
                                                <DxFormLayoutGroup Caption="Ceased Reasons (1 per line)" ColSpanMd="6">
                                                    <DxMemo @bind-Text="@systemSettings.CeasedReasons" Rows="5" CssClass="w-100" />
                                                </DxFormLayoutGroup>
                                            </Items>
                                        </DxFormLayoutGroup>
                                    </Template>
                                </DxStackLayoutItem>
                            </Items>

                        </DxStackLayout>

                    </DxTabPage>

                    <DxTabPage Text="Operations">
                        <DxStackLayout CssClass="w-100 box-height" Orientation="Orientation.Horizontal">
                            <Items>
                                <DxStackLayoutItem>
                                    <Template>
                                        <DxFormLayoutGroup Caption="Class Schedule" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Report for the period" ColSpanMd="12">
                                                <DxComboBox Data="classSchedulePeriod"
                                                            @bind-Value="@systemSettings.ClassScheduleDisplayPeriod"
                                                            ValueFieldName="@nameof(ClassScheduleDisplayPeriodWrapper.Type)"
                                                            TextFieldName="@nameof(ClassScheduleDisplayPeriodWrapper.DisplayText)">
                                                </DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Print leader on public report?" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@systemSettings.ShowLeaderOnPublicSchedule" Alignment="CheckBoxContentAlignment.Right" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup Caption="Auto Enrolment" ColSpanLg="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Rule 1: New Participant Percent (%)" ColSpanMd="12">
                                                <DxMaskedInput @bind-Value="@systemSettings.AutoEnrolNewParticipantPercent" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Rule 2: Remainder Allocation Method" ColSpanMd="12">
                                                <DxComboBox Data="@AutoEnrolAllocationMethods"
                                                            @bind-Value="@systemSettings.AutoEnrolRemainderMethod" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutGroup Caption="Enrolment Allocation Day" ColSpanLg="12">
                                                <DxFormLayoutItem Caption="Week(s) Before Term Start" ColSpanMd="12">
                                                    <DxSpinEdit @bind-Value=@systemSettings.AutoEnrolAllocationWeek
                                                                MinValue="-12" MaxValue="-1" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="On Day" ColSpanMd="12">
                                                    <DxComboBox Data="WeekDays"
                                                                SearchMode="ListSearchMode.AutoSearch"
                                                                @bind-Value="@systemSettings.AutoEnrolAllocationDay"
                                                                ValueFieldName="@nameof(WeekDay.ID)"
                                                                TextFieldName="@nameof(WeekDay.Day)">
                                                    </DxComboBox>
                                                </DxFormLayoutItem>
                                                <DxFormLayoutItem Caption="Occurrence" ColSpanMd="12">
                                                    <DxComboBox Data="autoEnrollOccurrences"
                                                                @bind-Value="@systemSettings.AutoEnrolAllocationOccurs"
                                                                ValueFieldName="Key"
                                                                TextFieldName="Value">
                                                    </DxComboBox>
                                                </DxFormLayoutItem>
                                            </DxFormLayoutGroup>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup Caption="Leader / Clerk Options" ColSpanLg="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Send Leader Reports To" ColSpanMd="12">
                                                <DxComboBox Data="sendLeaderReportsToList"
                                                            @bind-Value="@systemSettings.SendLeaderReportsTo"
                                                            ValueFieldName="@nameof(SendLeaderReportsToWrapper.Type)"
                                                            TextFieldName="@nameof(SendLeaderReportsToWrapper.DisplayText)">
                                                </DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Course Contact Order" ColSpanMd="12">
                                                <DxComboBox Data="contactOrder"
                                                            @bind-Value="@systemSettings.CourseContactOrder"
                                                            ValueFieldName="@nameof(CourseContactOrderWrapper.Type)"
                                                            TextFieldName="@nameof(CourseContactOrderWrapper.DisplayText)">
                                                </DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Allow leader to assign clerk?" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@systemSettings.AllowLeaderToChangeAssignClerk" Alignment="CheckBoxContentAlignment.Right" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Allow leader/clerk to change enrolment?" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@systemSettings.AllowLeaderToChangeEnrolment" Alignment="CheckBoxContentAlignment.Right" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                    </Template>
                                </DxStackLayoutItem>

                                <DxStackLayoutItem>
                                    <Template>
                                        <DxFormLayoutGroup Caption="Mail Labels (cm)" ColSpanMd="12" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Top Matgin" ColSpanMd="6">
                                                <DxMaskedInput @bind-Value="@systemSettings.MailLabelTopMargin" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Bottom Margin" ColSpanMd="6">
                                                <DxMaskedInput @bind-Value="@systemSettings.MailLabelBottomMargin" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Left Margin" ColSpanMd="6">
                                                <DxMaskedInput @bind-Value="@systemSettings.MailLabelLeftMargin" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Right Margin" ColSpanMd="6">
                                                <DxMaskedInput @bind-Value="@systemSettings.MailLabelRightMargin" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Label Height" ColSpanMd="6">
                                                <DxMaskedInput @bind-Value="@systemSettings.MailLabelHeight" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Label Width" ColSpanMd="6">
                                                <DxMaskedInput @bind-Value="@systemSettings.MailLabelWidth" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup Caption="Other Settings" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Require Vax Certificate?" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@systemSettings.RequireVaxCertificate" Alignment="CheckBoxContentAlignment.Right" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Allow Person Post-Nominal Letters?" ColSpanMd="12">
                                                <DxCheckBox @bind-Checked="@systemSettings.AllowPostNominalLetters" Alignment="CheckBoxContentAlignment.Right" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup Caption="Data Retention" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.End">
                                            <DxFormLayoutItem Caption="Attendance data (years)" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@systemSettings.RetainAttendanceForYears" MinValue="1" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Enrolment data (years)" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@systemSettings.RetainEnrolmentForYears" MinValue="1" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Financials - receipt & fee data (years)" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@systemSettings.RetainFinancialsForYears" MinValue="1" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Persons not financial (years)" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@systemSettings.RetainUnfinancialPersonsForYears" MinValue="1" />
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Registrations never completed (days)" ColSpanMd="12">
                                                <DxSpinEdit @bind-Value="@systemSettings.RetainRegistrationsNeverCompletedForDays" MinValue="30" />
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                    </Template>
                                </DxStackLayoutItem>

                            </Items>
                        </DxStackLayout>

                    </DxTabPage>

                    <DxTabPage Text="Terms and Conditions">
                        <DxStackLayout CssClass="w-100 box-height" Orientation="Orientation.Horizontal">
                            <Items>
                                <DxStackLayoutItem>
                                    <Template>
                                        <DxFormLayoutItem Caption="Enable Terms & Conditions display?" ColSpanMd="12">
                                            <DxCheckBox @bind-Checked="@systemSettings.TermsAndConditionsEnabled" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem Caption="Do not require Terms & Conditions confirmation on fee payment?" ColSpanMd="12">
                                            <DxCheckBox @bind-Checked="@systemSettings.DoNotRequireTermsAndConditionsConfirmationOnFeePayment" />
                                        </DxFormLayoutItem>
                                        <DxFormLayoutItem ColSpanMd="12">
                                            <DxRichEdit @ref="@richEdit"
                                                        DocumentContent=@systemSettings.TermsAndConditions
                                                        DocumentContentChanged="OnDocumentContentChanged"
                                                        CheckSpelling=true
                                                        BarMode=BarMode.Ribbon
                                                        DocumentFormat="DocumentFormat.Rtf"
                                                        CssClass="w-100 rich-style">
                                                <AdditionalItems>
                                                    <SummarizeAIContextMenuItem />
                                                    <ExplainAIContextMenuItem />
                                                    <ProofreadAIContextMenuItem />
                                                    <ExpandAIContextMenuItem />
                                                    <ShortenAIContextMenuItem />
                                                    <AskAssistantAIContextMenuItem />
                                                    <ChangeStyleAIContextMenuItem />
                                                    <ChangeToneAIContextMenuItem />
                                                    <GenerateDescriptionAIContextMenuItem />
                                                    <TranslateAIContextMenuItem Languages="@("English, German, French, Chinese")" />
                                                </AdditionalItems>
                                            </DxRichEdit>
                                        </DxFormLayoutItem>
                                    </Template>
                                </DxStackLayoutItem>
                            </Items>
                        </DxStackLayout>
                    </DxTabPage>
                    <DxTabPage Text="Multi-Campus">
                        <DxStackLayout CssClass="w-100 box-height" Orientation="Orientation.Horizontal">
                            <Items>
                                <DxStackLayoutItem>
                                    <Template>
                                        <DxFormLayout class="m-2" Enabled="@thisTenant.EnableMultiCampusExtension">
                                            @if (thisTenant.EnableMultiCampusExtension)
                                            {
                                                <DxFormLayoutItem Caption="Allow Multi-Campus Extensions?" ColSpanMd="12">
                                                    <DxCheckBox @bind-Checked="@systemSettings.AllowMultiCampusExtensions" />
                                                </DxFormLayoutItem>
                                                <DxFormLayoutGroup Caption="Multi-Campus U3A"
                                                                   ColSpanMd="12"
                                                                   Visible="@systemSettings.AllowMultiCampusExtensions">
                                                    <DxFormLayoutGroup Caption="U3A Not Allowed" ColSpanMd="5">
                                                        <DxGrid id="my-grid" @ref=@UnassignedGrid Data=@UnassignedU3A AllowColumnReorder=false CssClass="m-1"
                                                                @bind-SelectedDataItems="SelectedUnassignedItems"
                                                                SelectionMode="GridSelectionMode.Multiple"
                                                                VirtualScrollingEnabled=true
                                                                KeyFieldName="Id"
                                                                AllowGroup=false
                                                                AllowSelectRowByClick=true>
                                                            <Columns>
                                                                <DxGridSelectionColumn Width="2rem" />
                                                                <DxGridDataColumn Caption="State" FieldName="State" Width="4rem" />
                                                                <DxGridDataColumn Caption="Name" FieldName="Name" />
                                                            </Columns>
                                                        </DxGrid>
                                                    </DxFormLayoutGroup>

                                                    <DxFormLayoutGroup Caption="Action" ColSpanMd="2">
                                                        <DxButton Text="Allow >>"
                                                                  Enabled='@(SelectedUnassignedItems?.Count > 0)'
                                                                  Click="OnAllowSelected"
                                                                  CssClass="mx-2 mt-2 w-100" />
                                                        <DxButton Text="<< Disallow"
                                                                  Enabled='@(SelectedAssignedItems?.Count > 0)'
                                                                  Click="OnDisallowSelected"
                                                                  CssClass="mx-2 mt-2 w-100" />
                                                    </DxFormLayoutGroup>

                                                    <DxFormLayoutGroup Caption="U3A Allowed" ColSpanMd="5">
                                                        <DxGrid id="my-grid" @ref=@AssignedGrid Data=@AssignedU3A AllowColumnReorder=false CssClass="m-1"
                                                                @bind-SelectedDataItems="SelectedAssignedItems"
                                                                SelectionMode="GridSelectionMode.Multiple"
                                                                VirtualScrollingEnabled=true
                                                                KeyFieldName="Id"
                                                                AllowGroup=false
                                                                AllowSelectRowByClick=true>
                                                            <Columns>
                                                                <DxGridSelectionColumn Width="2rem" />
                                                                <DxGridDataColumn Caption="State" FieldName="State" Width="4rem" />
                                                                <DxGridDataColumn Caption="Name" FieldName="Name" />
                                                            </Columns>
                                                        </DxGrid>
                                                    </DxFormLayoutGroup>
                                                </DxFormLayoutGroup>
                                            }
                                            else
                                            {
                                                <div class="m-4 h6 opacity-50 text-fl-info">Multi-Campus Extensions are disabled on Tenant record</div>
                                            }
                                        </DxFormLayout>
                                    </Template>
                                </DxStackLayoutItem>
                            </Items>
                        </DxStackLayout>
                    </DxTabPage>
                </DxFormLayoutTabPages>
                <DxFormLayoutItem ColSpanMd="12">
                    <Template>
                        <DxButton SubmitFormOnClick="true" Text="Save" RenderStyle="@ButtonRenderStyle.Primary" />
                        <DxButton SubmitFormOnClick="false" Text="Cancel" RenderStyle="@ButtonRenderStyle.Secondary" Click="@Close" />
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
    </div>
}
<style>
    .box-height {
        min-height: calc(100dvh - 12rem);
    }

    .rich-style {
        height: calc(100dvh - 19rem);
    }
</style>
@code {
    bool IsReady = false;
    List<string> AutoEnrolAllocationMethods;
    List<SendLeaderReportsToWrapper> sendLeaderReportsToList = new SendLeadersReportsToList();
    List<CourseContactOrderWrapper> contactOrder = new CourseContactOrderList();
    List<ClassScheduleDisplayPeriodWrapper> classSchedulePeriod = new ClassScheduleDisplayPeriodList();
    int ActiveTabIndex { get; set; } = 0;
    private SystemSettings systemSettings { get; set; }
    U3ADbContext? dbc { get; set; }
    TenantDbContext? dbcT { get; set; }
    DxRichEdit richEdit;
    internal ErrorPopup? ErrorPopup { get; set; }
    internal string? ErrorHeader;
    internal string? ErrorMessage;
    int[] AutoAllocationDays = { 1, 2, 3, 4 };
    IEnumerable<WeekDay>? WeekDays { get; set; }
    AutoEnrollOccurrences autoEnrollOccurrences = new AutoEnrollOccurrences();
    DocumentServer server;

    List<TenantInfo> UnassignedU3A = new();
    List<TenantInfo> AssignedU3A = new();
    DxGrid? UnassignedGrid;
    DxGrid? AssignedGrid;
    IReadOnlyList<object> SelectedUnassignedItems { get; set; }
    IReadOnlyList<object> SelectedAssignedItems { get; set; }
    ReadOnlyCollection<TimeZoneInfo>? timezones;
    string utcOffset;
    TenantInfo? thisTenant;


    protected override async Task OnInitializedAsync()
    {
        timezones = TimeZoneInfo.GetSystemTimeZones();
        // wire up the data
        AutoEnrolAllocationMethods = new List<string>();
        AutoEnrolAllocationMethods.Add("Random");
        AutoEnrolAllocationMethods.Add("First In Wins");
        dbc = await U3Adbfactory.CreateDbContextAsync();
        dbcT = await tenantDbfactory.CreateDbContextAsync();
        WeekDays = await dbc.WeekDay.ToListAsync();
        systemSettings = await dbc.SystemSettings.FirstOrDefaultAsync();
        if (systemSettings == null)
        {
            systemSettings = new SystemSettings()
                {
                    AutoEnrolNewParticipantPercent = 15M,
                    AutoEnrolRemainderMethod = "Random",
                    AutoEnrolAllocationDay = 2,
                    MailLabelTopMargin = 10,
                    MailLabelBottomMargin = 0.0,
                    MailLabelLeftMargin = 0.79,
                    MailLabelRightMargin = 0.0,
                    MailLabelWidth = 64,
                    MailLabelHeight = 25,
                };
        }
		if (string.IsNullOrWhiteSpace(systemSettings.CeasedReasons)) systemSettings.CeasedReasons = "Deceased\nMoved away\nHealth reasons\nOther";
        var tz = TimeZoneInfo.FindSystemTimeZoneById(systemSettings.TimeZoneId);
        if (systemSettings.TimeZoneId != tz.Id) { systemSettings.TimeZoneId = tz.Id; dbc.Update(systemSettings); }
        await GetTenantData();
        if (systemSettings.AutoEnrolAllocationDay < 0 ||
                systemSettings.AutoEnrolAllocationDay > 6) systemSettings.AutoEnrolAllocationDay = 2;
        server = new DocumentServer(dbc);
        utcOffset = "";
        IsReady = true;
    }

    async Task GetTenantData()
    {
        thisTenant = await tenantService.GetTenantInfoAsync();
        var id = thisTenant.Identifier;
        if (thisTenant.EnableMultiCampusExtension)
        {
            UnassignedU3A = await dbcT.TenantInfo
                                        .AsNoTracking()
                                        .Where(x => x.Identifier != id
                                                    && x.EnableMultiCampusExtension
                                                    && !systemSettings.MultiCampusU3AAllowed.Contains(x.Identifier))
                                        .OrderBy(x => x.State).ThenBy(x => x.Name)
                                        .ToListAsync();
            AssignedU3A = await dbcT.TenantInfo
                                        .AsNoTracking()
                                        .Where(x => x.Identifier != id
                                                    && x.EnableMultiCampusExtension
                                                    && systemSettings.MultiCampusU3AAllowed.Contains(x.Identifier))
                                        .OrderBy(x => x.State).ThenBy(x => x.Name)
                                        .ToListAsync();
        }
        else
        {
            systemSettings.AllowMultiCampusExtensions = false;
        }
    }

    async void ValidFormSubmitted(EditContext editContext)
    {
        bool isNew = false;
        try
        {
            if (richEdit != null)
            {
                await richEdit.SaveDocumentAsync();
            }
        }
        catch (Exception e) { }
        var editModel = (SystemSettings)editContext.Model;
        // Re-query a data item from the store.
        var dataItem = dbc.SystemSettings.Find(editModel.ID);
        if (dataItem == null)
        {
            dataItem = new SystemSettings();
            isNew = true;
        }
        // Assign changes from the edit model to the data item.
        if (dataItem != null)
        {
            editModel.CopyTo(dataItem);
            dataItem.TermsAndConditionsHTML = server.GetHTMLText(systemSettings.TermsAndConditions);
            dataItem.MultiCampusU3AAllowed.Clear();
            dataItem.MultiCampusU3AAllowed.AddRange(AssignedU3A.Select(x => x.Identifier));
            try
            {
                // Post changes to the database.
                if (isNew) await dbc.AddAsync(dataItem);
                await dbc.SaveChangesAsync();
                Close();
            }
            catch (Exception ex)
            {
                ErrorHeader = "Save to database error";
                ErrorMessage = Helpers.GetErrorMessage(ex);
                await ErrorPopup.ShowPopupAsync();
                dbc?.ChangeTracker?.Clear();
            }
        }
    }

    async Task OnDocumentContentChanged(Byte[] content)
    {
        systemSettings.TermsAndConditions = richEdit.DocumentContent;
    }

    async void OnAllowSelected()
    {
        foreach (var t in SelectedUnassignedItems.Cast<TenantInfo>())
        {
            systemSettings.MultiCampusU3AAllowed.Add(t.Identifier);
        }
        UnassignedGrid?.ClearSelection();
        await GetTenantData();
        StateHasChanged();
    }

    async void OnDisallowSelected()
    {
        foreach (var t in SelectedAssignedItems.Cast<TenantInfo>())
        {
            systemSettings.MultiCampusU3AAllowed.Remove(t.Identifier);
        }
        AssignedGrid?.ClearSelection();
        await GetTenantData();
        StateHasChanged();
    }

    void Close()
    {
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
        dbc?.Dispose();
        dbcT?.Dispose();
    }

}
