@page "/public/ClassScheduleView"

@using U3A.BusinessRules

@inject IJSRuntime js
@inject NavigationManager NavManager
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject IDbContextFactory<TenantDbContext> TenantDbfactory
@inject TenantInfoService tenantService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@implements IDisposable

@layout BasicLayout

<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall"
                    @bind-IsActive="@IsMobileLayout" />

@if (!IsReady)
{
    <em>Loading...</em>
}
else
{
    <PortalHeader NavigateTo="/public" NoU3AGroup="true" />
    <div class="col col-md-10 col-lg-8 mx-auto">
        <p>@message</p>
        <DxReportViewer @ref="@reportViewer" Id="reportViewer"
                        Report="@rpt" SizeMode="SizeMode.Small"
                        SinglePagePreview="false"
                        RootCssClasses="w-100 view-normal"
                        TabPanelMinWidth="200"
                        TabPanelMaxWidth="200"
                        Zoom="1"
                        OnCustomizeToolbar="@OnCustomizeToolbar" />
    </div>
}
<style>
    .view-normal {
        height: calc(100dvh - 3.5rem) !important;
    }

</style>

@code {
    bool IsReady;
    bool IsMobileLayout;

    ClassScheduleRpt? rpt;
    MarkupString message = new MarkupString("");
    DxReportViewer? reportViewer;
    U3ADbContext? dbc { get; set; }
    TenantDbContext? dbcT { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dbc = await U3Adbfactory.CreateDbContextAsync();
        dbcT = await TenantDbfactory.CreateDbContextAsync();
        var today = DateTime.Today;
        Term? term = await BusinessRule.CurrentEnrolmentTermAsync(dbc);
        if (term != null)
        {
            rpt = new ClassScheduleRpt();
            (rpt as IXtraReportWithNavManager).NavManager = NavManager;
            foreach (var prm in rpt.Parameters)
            {
                prm.Visible = false;
            }
            rpt.DbContext = dbc;
            rpt.TenantDbContext = dbcT;
            rpt.prmTerm.Value = term.ID;
            rpt.prmIntendedUse.Value = 0; // Public
            rpt.CreateReport();
        }
        IsReady = true;
        await base.OnInitializedAsync();
    }


    void OnCustomizeToolbar(ToolbarModel toolbarModel)
    {
        string[] itemsToRemove = new string[] {"HighlightEditingFields",
                                                "CancelDocumentCreation"
                            };
        foreach (var item in toolbarModel.AllItems)
        {
            if (itemsToRemove.Contains(item.Id))
            {
                item.GetEnabled = () => { return false; };
                item.Visible = false;
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            reportViewer!.TabPanelModel[TabContentKind.Parameters].Visible = false;
            reportViewer.TabPanelModel[TabContentKind.Search].Visible = true;
            reportViewer.TabPanelModel[TabContentKind.ExportOptions].Visible = false;
            reportViewer.TabPanelModel[TabContentKind.DocumentMap].Visible = false;
        }
        await base.OnAfterRenderAsync(firstRender);
    }


    public void Dispose()
    {
        dbc?.Dispose();
    }
}
