@page "/IdentityUserMnt"

@inject IJSRuntime js
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@using DevExpress.Data.Filtering
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Identity
@using System.Collections.Concurrent
@using U3A.Data
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@implements IDisposable


@attribute [Authorize(Roles = "Security Administrator")]

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{

    <CreateDomainLogin @ref="createDomainLogin"
                       Roles="@Roles"
                       Settings="@settings" />

    <div class="row  align-content-start">
        <ContextHelpTitle Title="Login &amp; Role Assignment" HelpTopic="login-security--role-assignmen.html" />
    </div>
    <div class="row">
        <div class="col-3 align-content-start">
            Review login security and assign roles to logins.
        </div>
    </div>

    <MessageBox @ref="@messageBox" />
    <Progress @ref="@ProgressBar" />

    <DxTabs @ref="dxTabs" TabClick="@OnTabClick">
        <DxTabPage Text="All Logins" />
        <DxTabPage Text="With Roles" />
        <DxTabPage Text="Without Roles" />
        <DxTabPage Text="Email Not Confirmed" />
    </DxTabs>

    <FullScreen>
        <ContentTemplate>
            <DxGrid Data="@AppUsers" @ref="mainGrid" CssClass="grid-height"
                    UnboundColumnData="Grid_CustomUnboundColumnData"
                    @bind-SelectedDataItems="@SelectedDataItems"
                    ShowFilterRow="false"
                    ShowAllRows="false"
                    KeyFieldName="Id"
                    PageSize="30"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorItems="@(new int[] {10,15, 20,30, 40,60,80, 100, 200,400 })"
                    PageSizeSelectorAllRowsItemVisible="true"
                    PagerSwitchToInputBoxButtonCount="10"
                    PagerVisibleNumericButtonCount="10"
                    PagerVisible="true"
                    PopupEditFormHeaderText="Edit User Details"
                    EditMode="GridEditMode.PopupEditForm"
                    EditModelSaving="Grid_EditModelSaving"
                    DataItemDeleting="Grid_DataItemDeleting"
                    CustomizeEditModel="Grid_CustomizeEditModel"
                    ValidationEnabled="true">
                <ToolbarTemplate>
                    <GridToolbar LinkedGrid=@mainGrid >
                        <CustomButtonContent>
                            <DxToolbarItem Text="Create Domain Login"
                                      Click="@OnCreateDomainLogin"
                                      RenderStyleMode="ToolbarItemRenderStyleMode.Contained"
                                      RenderStyle="ButtonRenderStyle.Primary" />
                            <DxToolbarItem Text="Populate Logins"
                                      Click="@OnPopulateLogins"
                                           RenderStyleMode="ToolbarItemRenderStyleMode.Contained"
                                           RenderStyle="ButtonRenderStyle.Primary" />
                            <DxToolbarItem Text="Set Email Confirmed"
                                      Click="@OnSetEmailConfirmed" Enabled="@AreItemsSelected()"
                                           RenderStyleMode="ToolbarItemRenderStyleMode.Contained"
                                           RenderStyle="ButtonRenderStyle.Primary" />
                            <DxToolbarItem Text="Reset Password"
                                      Click="@OnResetPassword" Enabled="@AreItemsSelected()"
                                           RenderStyleMode="ToolbarItemRenderStyleMode.Contained"
                                           RenderStyle="ButtonRenderStyle.Primary" />
                        </CustomButtonContent>
                    </GridToolbar>
                </ToolbarTemplate>
                <Columns>
                    <DxGridSelectionColumn Width="2rem" />
                    <DxGridCommandColumnEx Width="8rem" DeleteButtonVisible=true EditButtonVisible=true NewButtonVisible="false" />
                    <DxGridDataColumn Width="15rem" Caption="Email" FieldName="Email" />
                    <DxGridDataColumn Width="15rem" FieldName="Participant" UnboundType="GridUnboundColumnType.String" />
                    <DxGridDataColumn Width="9em" Caption="Email Confirmed?" FieldName="EmailConfirmed" />
                    <DxGridDataColumn Width="7rem" Visible=false
                                      Caption="Lockout Enabled?" FieldName="User.LockoutEnabled" />
                    <DxGridDataColumn Width="6rem" Caption="Lockout End" Visible=false DisplayFormat="d" FieldName="LockoutEnd" />
                    <DxGridDataColumn Width="5rem" Caption="Login Failures" Visible=false DisplayFormat="n0" FieldName="AccessFailedCount" />
                    <DxGridDataColumn FieldName="Roles" UnboundType="GridUnboundColumnType.String" />
                </Columns>
                <EditFormTemplate Context="EditFormContext">
                    @{
                        var editItem = (ApplicationUser)EditFormContext.EditModel;
                    }
                    <DxFormLayout>
                        <DxFormLayoutItem>
                            <ValidationSummary />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="User Roles" ColSpanMd="12">
                            <DxTagBox Data="@Roles" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                      @bind-Values="@SelectedRoles">
                            </DxTagBox>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Is Email Confirmed?" ColSpanMd="12">
                            <DxCheckBox @bind-Checked=editItem.EmailConfirmed Enabled=!editItem.EmailConfirmed />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Password" ColSpanMd="12">
                            <DxTextBox @bind-Text=editItem.Password NullText="leave blank if unchanged" Password=true />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption=" Confirm Password" ColSpanMd="12">
                            <DxTextBox @bind-Text=editItem.ConfirmPassword Password=true />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>

                <TotalSummary>
                    <DxGridSummaryItem SummaryType="GridSummaryItemType.Count" Name="Total" FieldName="Email" />
                </TotalSummary>

            </DxGrid>
        </ContentTemplate>
    </FullScreen>
    @quickMessage
}

@code {
    bool IsReady;
    bool PopupVisible;
    SystemSettings settings;
    IReadOnlyList<object> SelectedDataItems { get; set; }
    List<ApplicationUser> AppUsers { get; set; }
    IEnumerable<IdentityRole> Roles { get; set; }
    IEnumerable<IdentityRole>? SelectedRoles { get; set; } = new List<IdentityRole>();
    IEnumerable<Person> People;
    IGrid? mainGrid;
    DxTabs? dxTabs;
    DxGridCommandColumnEx? GridCommandColumn;
    MarkupString quickMessage;
    U3ADbContext dbc { get; set; }
    Progress? ProgressBar;
    CreateDomainLogin? createDomainLogin;
    AuthenticationState? authenticationState;

    MessageBox? messageBox { get; set; }

    internal GridToolbar? Toolbar;

    bool AreItemsSelected()
    {
        return (SelectedDataItems != null && SelectedDataItems.Count > 0) ? true : false;
    }

    protected override async Task OnInitializedAsync()
    {
        dbc = await U3Adbfactory.CreateDbContextAsync();
        await RefreshDataAsync();
        settings = await dbc.SystemSettings.FirstOrDefaultAsync();
        Roles = await dbc.Roles.ToListAsync();
        IsReady = true;
    }

    async Task RefreshDataAsync()
    {
        mainGrid?.BeginUpdate();
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            AppUsers = UserManager.Users.OrderBy(x => x.Email).ToList();
            People = await BusinessRule.SelectablePersonsIncludeUnfinancialAsync(dbc);
        }
        mainGrid?.ClearSelection();
        mainGrid?.EndUpdate();
    }

    void Grid_CustomUnboundColumnData(GridUnboundColumnDataEventArgs e)
    {
        ApplicationUser appUser = e.DataItem as ApplicationUser;
        string result = string.Empty;
        if (e.FieldName == "Roles")
        {
            var userRoles = (from u in dbc.Users.AsNoTracking()
                             where u.Email == appUser.Email
                             join ur in dbc.UserRoles
                             on u.Id equals ur.UserId
                             join r in dbc.Roles
                             on ur.RoleId equals r.Id
                             select new
                             {
                                 Role = r.Name
                             }).ToList().OrderBy(x => x.Role);

            result = string.Empty;
            foreach (var u in userRoles)
            {
                result += $"{u.Role}, ";
            }
            e.Value = (result != string.Empty) ? result.Substring(0, result.Length - 2) : string.Empty;
        }
        if (e.FieldName == "Participant")
        {
            result = string.Empty;
            foreach (var p in People.Where(x => x.Email != null && x.Email.ToUpper() == appUser.NormalizedEmail))
            {
                result += $"{p.FullName}, ";
            }
            e.Value = (result != string.Empty) ? result.Substring(0, result.Length - 2) : string.Empty;
        }
    }

    async void OnTabClick(TabClickEventArgs e)
    {
        await ProgressBar.ShowSpinnerAsync("Filtering ... Please wait");
        await SetupTab(e.TabIndex);
        await ProgressBar.Close();
    }

    async Task SetupTab(int TabIndex)
    {
        await InvokeAsync(mainGrid.BeginUpdate);
        await InvokeAsync(StateHasChanged);
        await Task.Run(() =>
        {
            try
            {
                switch (TabIndex)
                {
                    case 0:             // All records
                        mainGrid.ClearFilter();
                        break;
                    case 1:             // With Roles
                        var filter = new BinaryOperator("Roles", string.Empty, BinaryOperatorType.NotEqual);
                        mainGrid.SetFilterCriteria(filter);
                        break;
                    case 2:             // With Roles
                        filter = new BinaryOperator("Roles", string.Empty, BinaryOperatorType.Equal);
                        mainGrid.SetFilterCriteria(filter);
                        break;
                    case 3:             // Email Not Confirmed
                        filter = new BinaryOperator("EmailConfirmed", false, BinaryOperatorType.Equal);
                        mainGrid.SetFilterCriteria(filter);
                        break;
                }
            }
            catch (Exception ex) { mainGrid?.ClearFilter(); }
        });
        await InvokeAsync(mainGrid.EndUpdate);
        await InvokeAsync(StateHasChanged);
    }


    bool isBusy;
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        if (isBusy) return;
        isBusy = true;
        try
        {
            await SaveRecord(e);
        }
        finally
        {
            isBusy = false;
        }
    }

    async Task SaveRecord(GridEditModelSavingEventArgs e)
    {
        var editItem = e.EditModel as ApplicationUser;
        var appUser = await UserManager.FindByIdAsync(editItem.Id);
        editItem.CopyTo(appUser);
        if (!string.IsNullOrWhiteSpace(appUser.Password))
        {
            if (appUser.Password != appUser.ConfirmPassword)
            {
                await messageBox.ShowOkOnlyAsync("Passwords must match",
                            "The password and confirm password fields fo not match!");
                e.Cancel = true;
                return;
            }
            else
            {
                var token = await UserManager.GeneratePasswordResetTokenAsync(appUser);
                var result = await UserManager.ResetPasswordAsync(appUser, token, appUser.Password);
                if (!result.Succeeded)
                {
                    var msg = string.Empty;
                    foreach (var err in result.Errors)
                    {
                        msg += $"{err.Description}<br />";
                    }
                    await messageBox.ShowOkOnlyAsync("Passwords reset failed", msg);
                    e.Cancel = true;
                    return;
                }
            }
        }
        if (appUser.EmailConfirmed)
        {
            var confirmEmailToken = await UserManager.GenerateEmailConfirmationTokenAsync(appUser);
            var result = await UserManager.ConfirmEmailAsync(appUser, confirmEmailToken);
        }
        foreach (var role in Roles)
        {
            if (await UserManager.IsInRoleAsync(appUser, role.Name))
            {
                await UserManager.RemoveFromRoleAsync(appUser, role.Name);
            }
        }
        foreach (var role in SelectedRoles)
        {
            if (!await UserManager.IsInRoleAsync(appUser, role.Name))
            {
                await UserManager.AddToRoleAsync(appUser, role.Name);
            }
        }
        e.Reload = true;
    }

    async void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        SelectedRoles = new List<IdentityRole>();
        var l = new List<IdentityRole>();
        if (!e.IsNew)
        {
            var appUser = (ApplicationUser)e.DataItem;
            appUser.Password = appUser.ConfirmPassword = string.Empty;
            foreach (var role in Roles)
            {
                if (await UserManager.IsInRoleAsync(appUser, role.Name))
                {
                    l.Add(role);
                }
            }
            SelectedRoles = l.ToList();
            StateHasChanged();
        }
    }

    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        if (e.DataItem != null)
        {
            var dataItem = e.DataItem as ApplicationUser;
            var appUser = await UserManager.FindByIdAsync(dataItem.Id);
            await UserManager.DeleteAsync(appUser);
            AppUsers.Remove(appUser);
            e.Reload = true;
        }
    }

    async Task OnResetPassword()
    {
        var msg =
            "<p>You are about to reset the selected login passwords to the default <strong>Member ID</strong> on their member record. " +
            "Password maintenance is designed to be a self-service procedure but this procedure may be helpful should the member be experiencing problems. " +
            "<p>Where an email address is shared by a male and female, the male's Member ID will be used as the password. " +
            "Where an email address is shared by members with the same gender, the first Member ID in alphabetical order will be used.</p>" +
            "<p>Do you wish to continue?";
        if (await messageBox.ShowAsync("Password Reset", msg))
        {
            await ProgressBar.ShowSpinnerAsync("Reset Passwords");
            SetRelaxedPassword();
            foreach (var item in SelectedDataItems)
            {
                var thisItem = (ApplicationUser)item;
                var u = await UserManager.FindByIdAsync(thisItem.Id);
                var p = await dbc.Person.AsNoTracking().OrderBy(x => x.FirstName).FirstOrDefaultAsync(x => x.Email.ToLower() == u.Email.ToLower());
                if (p != null)
                {
                    var token = await UserManager.GeneratePasswordResetTokenAsync(u);
                    var result = await UserManager.ResetPasswordAsync(u, token, p.PersonIdentity);
                }
            }
            SetNormalPassword();
            mainGrid?.ClearSelection();
            await ProgressBar.Close();
            await messageBox.ShowOkOnlyAsync("Password Reset", "Selected passwords have been reset.");
        }
    }

    private void SetRelaxedPassword()
    {
        UserManager.Options.Password.RequiredUniqueChars = 0;
        UserManager.Options.Password.RequireNonAlphanumeric = false;
        UserManager.Options.Password.RequireUppercase = false;
    }
    private void SetNormalPassword()
    {
        UserManager.Options.Password.RequiredUniqueChars = 1;
        UserManager.Options.Password.RequireNonAlphanumeric = true;
        UserManager.Options.Password.RequireUppercase = true;
    }

    async Task OnSetEmailConfirmed()
    {
        var msg =
                "<p>This procedure will set the selected login's Email Confirmed status to Confirmed (true). " +
                "Email confirmation is designed to be self-service. " +
                "This procedure is intended to assist those who may be having issues with email and therefore cannot confirm.</p> " +
                "<p>The procedure is safe to execute and may be re-executed as often as required. Note there is no procedure to unset Email Confirmation.</p>" +
                "<p>Do you wish to continue?";
        if (await messageBox.ShowAsync("Set Email Confirmed", msg))
        {
            mainGrid?.BeginUpdate();
            await ProgressBar.ShowSpinnerAsync("Set Email Confirmed");
            foreach (var obj in SelectedDataItems)
            {
                ApplicationUser thisItem = obj as ApplicationUser;
                var u = await UserManager.FindByIdAsync(thisItem.Id);
                var token = await UserManager.GenerateEmailConfirmationTokenAsync(u);
                await UserManager.ConfirmEmailAsync(u, token);
                AppUsers.Remove(u);
                AppUsers.Add(u);
            }
            mainGrid?.EndUpdate();
            await ProgressBar.Close();
            await messageBox.ShowOkOnlyAsync("Set Email Confirmed", "Selected login emails have been confirmed");
            await SetupTab(0);
        }
    }
    async Task OnPopulateLogins()
    {
        var msg =
            "<p>You are about to populate default user logins from participant email addresses using the " +
            "<strong>Member ID</strong> as the password.<p>" +
            "Normally, this is only performed on initial database load as member registration and " +
            "password maintenance are designed to be self-service. However, this procedure is safe to re-execute as often " +
            "as required as only logins that do not already exist will be created.<p>" +
            "<p>Where an email address is shared by multiple members, the Member ID of the first person in alphabetic order will be used as the password.</p>" +
            "<p>Do you wish to continue?";
        if (await messageBox.ShowAsync("Populate Logins", msg))
        {
            var hasher = new PasswordHasher<IdentityUser>();
            var max = dbc.Person.Count(x => x.DateCeased == null && !string.IsNullOrWhiteSpace(x.Email));
            var count = 0;
            var processed = 0;
            await ProgressBar.ShowAsync("Populate Logins", max);
            mainGrid.BeginUpdate();
            foreach (var p in dbc.Person.AsNoTracking()
                            .OrderBy(x => x.LastName).ThenBy(x => x.FirstName)
                            .Where(x => x.DateCeased == null && !string.IsNullOrWhiteSpace(x.Email)))
            {
                await ProgressBar.SetValueAsync(count++);
                if (await UserManager.FindByEmailAsync(p.Email) == null)
                {
                    var user = new ApplicationUser()
                        {
                            Email = p.Email,
                            UserName = p.Email,
                            EmailConfirmed = true,
                            PasswordHash = hasher.HashPassword(null, p.PersonIdentity)
                        };
                    await UserManager.CreateAsync(user);
                    AppUsers.Add(user);
                    processed++;
                }
            }
            await RefreshDataAsync();
            mainGrid?.EndUpdate();
            await ProgressBar.Close();
            await messageBox.ShowAsync("Login Population Complete", $"{processed} logins have been created.");
        }
    }

    async Task OnCreateDomainLogin()
    {
        await createDomainLogin.ShowAsync();
        await RefreshDataAsync();
    }

    public void Dispose()
    {
        dbc?.Dispose();
    }

}
