@page "/ReviewDropouts"

@inject NavigationManager NavMan
@inject IJSRuntime js
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@implements IDisposable


@attribute [Authorize]

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{

    <DxFormLayout>
        <div class="w-100 p-2 m-auto">
                <ContextHelpTitle Title="Class Dropouts" HelpTopic="Review-Class-Dropouts.html"
                                  Subtitle="Review / Reinstate deleted class enrolments." />
            <MessageBox @ref="@messageBox" />
            <ErrorPopup @ref="@ErrorPopup" PopupHeader="@ErrorHeader" PopupMessage="@ErrorMessage" />

            <SelectDocumentTemplatePopup @ref="@selectDocumentTemplatePopup" dbContext="@dbc"
                                         DocumentTemplates="@DocumentTemplates" SendTo="@SendTo" />
            <Progress @ref="@ProgressBar" />

            <FullScreen DisplayOffset="6">
                <ContentTemplate>
                    <DxGrid Data="@Dropouts" @ref=@mainGrid
                            ShowAllRows="true"
                            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                            KeyFieldName="ID"
                            ValidationEnabled="true"
                            SelectionMode="GridSelectionMode.Multiple"
                            AllowSelectRowByClick="true"
                            AutoExpandAllGroupRows="true"
                            UnboundColumnData="OnUnboundColumnData"
                            @bind-SelectedDataItems="SelectedDataItems">
                        <ToolbarTemplate>
                            <GridToolbar LinkedGrid=@mainGrid LayoutKey="{4C222098-32CF-4C97-BD32-5216E22F5CB0}">
                                <CustomButtonContent>
                                    <DxToolbarItem Context="a" BeginGroup="true" Alignment="ToolbarItemAlignment.Right">
                                        <Template>
                                            <div class="d-flex">
                                                <div class="flex-grow-0 pt-1 pe-2">Term:</div>
                                                <TermsComboBox Terms="@terms"
                                                               @bind-SelectedTerm="@selectedTerm"
                                                               @bind-SelectedTerm:after=@(async() => await SelectedTermChanged(selectedTerm)) />
                                            </div>
                                        </Template>
                                    </DxToolbarItem>
                                    <DxToolbarItem Text="Reinstate"
                                                   BeginGroup=true
                                                   Alignment="ToolbarItemAlignment.Right"
                                                   Click="@OnReinstateClick"
                                                   Enabled="@(SelectedDataItems != null && SelectedDataItems.Count() > 0)"
                                                   RenderStyleMode=ToolbarItemRenderStyleMode.Contained
                                                   RenderStyle="ButtonRenderStyle.Primary" />
                                    <DxToolbarItem Text="Communicate" CssClass="mx-2"
                                                   Alignment="ToolbarItemAlignment.Right"
                                                   Click="@OnCommunicate"
                                                   Enabled="@(SelectedDataItems != null && SelectedDataItems.Count() > 0)"
                                                   RenderStyleMode=ToolbarItemRenderStyleMode.Contained
                                                   RenderStyle="ButtonRenderStyle.Primary" />
                                </CustomButtonContent>
                            </GridToolbar>
                        </ToolbarTemplate>
                        <Columns>
                            <DxGridSelectionColumn Width="2rem" />
                            <DxGridDataColumn Caption="Course" FieldName="Course.Name" GroupIndex="0" />
                            <DxGridDataColumn Caption="Name" FieldName="Person.FullName" />
                            <DxGridDataColumn Caption="Waitlisted?" FieldName="IsWaitlisted" Width="5rem" />
                            <DxGridDataColumn Caption="Fin-To" FieldName="Person.FinancialToBriefText" Width="4rem" />
                            <DxGridDataColumn Caption="Mobile" FieldName="Person.Mobile" Width="6rem" />
                            <DxGridDataColumn Caption="Email" FieldName="Person.Email" Width="12rem" />
                            <DxGridDataColumn Caption="Created" FieldName="Created"
                                              DisplayFormat="{0:dd-MMM-yy}" Width="6rem" Visible="false" />
                            <DxGridDataColumn Caption="Enrolled" FieldName="LocalDateEnrolled"
                                              DisplayFormat="{0:dd-MMM-yy}" Width="6rem"
                                              UnboundType="GridUnboundColumnType.DateTime" />
                            <DxGridDataColumn Caption="Dropped" FieldName="LocalDropoutDate"
                                              DisplayFormat="{0:dd-MMM-yy hh:mm tt}"
                                              UnboundType="GridUnboundColumnType.DateTime" />
                            <DxGridDataColumn Caption="Dropped By" FieldName="DeletedBy" />
                        </Columns>
                    </DxGrid>
                </ContentTemplate>
            </FullScreen>
        </div>
    </DxFormLayout>

}

@code {
    bool IsReady;
    int ShowEnrolmentType;
    SystemSettings? settings;

    private List<Dropout>? Dropouts { get; set; }
    Dropout? thisDropout;

    private List<Person>? Persons { get; set; }

    private List<Term> terms { get; set; }
    private Term? selectedTerm { get; set; } // Term selected in the grid
    private Term? currentTerm { get; set; } // Current default Term

    IReadOnlyList<object> SelectedDataItems { get; set; }

    string HeaderContent;
    string MessageContent;
    MessageBox? messageBox { get; set; }
    bool MessageBoxShowCancelButton;
    bool IsSetSelectionEnrolledEnabled;

    IGrid? mainGrid { get; set; }
    ErrorPopup? ErrorPopup { get; set; }
    GridToolbar Toolbar;
    string ErrorHeader;
    string ErrorMessage;
    U3ADbContext dbc { get; set; }

    Communication Communication;
    private List<Person> SendTo { get; set; }
    private List<DocumentTemplate> DocumentTemplates;
    private SelectDocumentTemplatePopup selectDocumentTemplatePopup;
    DocumentServer server;
    int documentsSent;
    internal Progress? ProgressBar;


    protected override async Task OnInitializedAsync()
    {
        // wire up the data
        dbc = await U3Adbfactory.CreateDbContextAsync();

        Communication = new Communication();
        DocumentTemplates = await BusinessRule.SelectableDocumentTemplatesAsync(dbc);
        server = new DocumentServer(dbc);
        settings = await dbc.SystemSettings.FirstOrDefaultAsync();
        terms = await BusinessRule.SelectableRelaxedTermsAsync(dbc);
        currentTerm = selectedTerm = await BusinessRule.CurrentTermAsync(dbc);
        IsSetSelectionEnrolledEnabled = true;
        if (selectedTerm != null)
        {
            Persons = await BusinessRule.SelectablePersonsAsync(dbc, selectedTerm);
            await SelectedTermChanged(selectedTerm);
        }
        IsReady = true;
    }

    private void OnUnboundColumnData(GridUnboundColumnDataEventArgs e)
    {
        if (e.FieldName == "LocalDropoutDate") { e.Value = ((Dropout)e.DataItem).DropoutDate + dbc.UtcOffset; }
        if (e.FieldName == "LocalDateEnrolled") { e.Value = ((Dropout)e.DataItem).DateEnrolled + dbc.UtcOffset; }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            if (selectedTerm == null)
            {
                await messageBox.ShowOkOnlyAsync("Current Term is undefined", "Use <strong>Add/Edit Enrolment Terms</strong> to set the current term.");
                NavMan.NavigateTo("/");
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task SelectedTermChanged(Term term)
    {
        selectedTerm = term;
        ClearSelection();
        await GetDropouts();
    }

    void ClearSelection()
    {
        SendTo = null;
        SelectedDataItems = null;
    }

    async Task GetDropouts()
    {
        Dropouts = await BusinessRule.EditableDropoutsAsync(dbc, selectedTerm);
    }

    async Task OnReinstateClick()
    {
        if (await messageBox.ShowAsync("Reinstate Students?",
                  $"<p>The {SelectedDataItems.Count} selected students will be reinstated. Their waitlist status will remain unchanged.</p>" +
                  "<p>Do you wish to continue?</p>"))
        {
            List<string> errors = new List<string>();
            foreach (var obj in SelectedDataItems)
            {
                var d = (Dropout)(obj);
                var person = await dbc.Person.FindAsync(d.PersonID);
                var course = await dbc.Course.FindAsync(d.CourseID);
                if (!await dbc.Enrolment.Where(x => x.TermID == d.TermID
                                                    && x.CourseID == d.CourseID
                                                    && x.PersonID == d.PersonID
                                                    && (d.ClassID == null ? x.ClassID == null : x.ClassID == d.ClassID)).AnyAsync())
                {
                    var e = new Enrolment()
                        {
                            Course = course,
                            DateEnrolled = d.DateEnrolled,
                            IsWaitlisted = d.IsWaitlisted,
                            Person = person,
                            Term = await dbc.Term.FindAsync(d.TermID)
                        };
                    if (d.ClassID != null) { e.Class = await dbc.Class.FindAsync(d.ClassID); }
                    await dbc.AddAsync(e);
                    dbc.Remove(d);
                    await SaveChangesAsync();
                }
                else
                {
                    errors.Add($"{d.Person.FullName}: {d.Course.Name}.");
                }
            }
            string msg = $"The {SelectedDataItems.Count} selected students have been reinstated.";
            if (errors.Count > 0)
            {
                msg = $@"{SelectedDataItems.Count - errors.Count} students have been reinstated.
                <p>{errors.Count} students were not reinstated:</p><ul>";
                foreach (var e in errors)
                {
                    msg += $"<li>{e}</li>";
                }
                msg += "</ul><p>because they are already enrolled.";
            }
            await messageBox.ShowAsync("Students Reinstated", msg);
            ClearSelection();
            await GetDropouts();
        }
    }


    async Task<bool> SaveChangesAsync()
    {
        bool result = false;
        try
        {
            await dbc.SaveChangesAsync();
            result = true;
        }
        catch (Exception ex)
        {
            ErrorHeader = "Save to database error";
            ErrorMessage = Helpers.GetErrorMessage(ex);
            await ErrorPopup.ShowPopupAsync();
            dbc?.ChangeTracker?.Clear();
        }
        return result;
    }

    void ShowEnrolledTypeChanged(int Value)
    {
        switch (Value)
        {
            case 1:
                mainGrid?.FilterBy("IsWaitlisted", GridFilterRowOperatorType.Equal, false);
                break;
            case 2:
                mainGrid?.FilterBy("IsWaitlisted", GridFilterRowOperatorType.Equal, true);
                break;
            default:
                mainGrid?.ClearFilter();
                break;
        }
    }


    async Task OnCommunicate()
    {

        if (SelectedDataItems == null || SelectedDataItems.Count <= 0)
        {
            await messageBox.ShowOkOnlyAsync("Make a Selection", "Select one or more participants to communicate with.");
            return;
        }
        SendTo = new List<Person>
            ();
        foreach (var e in SelectedDataItems.Cast<Dropout>
            ().ToList())
        {
            SendTo.Add(e.Person);
        }
        ;
        if (await selectDocumentTemplatePopup.ShowAsync())
        {
            documentsSent = 0;
            await ProgressBar.ShowSmallSpinnerAsync();
            List<Guid> personIDsToExport = SendTo.Select(x => x.ID).ToList();
            bool overridePreference = selectDocumentTemplatePopup.OverrideCommunicationPreference;
            int delayedStart = selectDocumentTemplatePopup.DelayedStart;
            await server.MailMerge(dbc,
                selectDocumentTemplatePopup.SelectedDocumentTemplate,
                personIDsToExport,
                overridePreference,
                delayedStart);
            await ProgressBar.Close();
            await messageBox.ShowOkOnlyAsync("Communication Complete", server.GetHTMLResult());
        }
    }

    async void Server_DocumentSent(object sender, DocumentSentEventArgs e)
    {
        documentsSent += e.DocumentsSent;
        await ProgressBar.SetValueAsync(documentsSent);
    }

    public void Dispose()
    {
        dbc?.Dispose();
    }
}
