@using U3A.UI.Forms
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity;
@using Microsoft.JSInterop
@using System.IO
@using System.Web;


@inject IJSRuntime js
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navMan
@inject WorkStation ws
@implements IDisposable;


@{
    <MessageBox @ref=@messageBox />
    <div class="@((IsTopMenu)
                ? "card shadow-sm w-100"
                : "sidebar")">
        <div class="d-print-none">
            <DxMenu CssClass="menu-item menu"
            DropDownActionMode="MenuDropDownActionMode.Click"
            ItemsPosition="ItemPosition.End"
            Orientation="@((IsTopMenu) ? Orientation.Horizontal : Orientation.Vertical)"
            CollapseItemsToHamburgerMenu="@true">
                <TitleTemplate>
                    @if (IsTopMenu)
                    {
                        <span class="h5"><img src="images/U3ALogo.png">&nbsp;@OrganisationName</span>
                    }
                </TitleTemplate>
                <Items>
                    @{
                        if (isAuthenticated)
                        {

                            <DxMenuItem @ref="homeButton" id="home-button" Text="@((isVertical) ? "Home" : "")" IconCssClass="menu-icon bi bi-house" NavigateUrl="./" />

                            if (isSystemAdminRole || isSecurityAdminRole)
                            {
                                <DxMenuItem Text="Admin" IconCssClass="menu-icon bi bi-gear" NavigateUrl="AdminIntroduction">
                                    <Items>
                                        @if (constants.IS_DEBUG)
                                        {
                                        }
                                        @if (isSecurityAdminRole)
                                        {
                                            <DxMenuItem Text="Login &amp; Role Assignment" NavigateUrl="IdentityUserMnt" />
                                        }
                                        <DxMenuItem Text="Organisation Details" NavigateUrl="OrganisationDetailsMnt" />
                                        <DxMenuItem Text="Membership Fees" NavigateUrl="MembershipFeesMnt" />
                                        <DxMenuItem Text="Add/Edit Document Templates" NavigateUrl="DocumentTemplateMnt" />
                                        <DxMenuItem Text="U3Admin Email Recipients" NavigateUrl="U3AdminEmailRecipients" />
                                        <DxMenuItem Text="Restore Deleted Items">
                                            <Items>
                                                <DxMenuItem Text="Restore Deleted Courses" NavigateUrl="RestoreDeletedCourses" />
                                                <DxMenuItem Text="Restore Deleted Participants" NavigateUrl="RestoreDeletedParticipants" />
                                                <DxMenuItem Text="Restore Deleted Contacts" NavigateUrl="RestoreDeletedContacts" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem BeginGroup Text="Setup an Office PC" IconCssClass="bi bi-display" NavigateUrl="/OfficePC.html" />
                                        <DxMenuItem Text="Database Backup" IconCssClass="bi bi-database-down" NavigateUrl="Backup" />
                                    </Items>
                                </DxMenuItem>
                            }

                            if (isSystemAdminRole | isCourseAdminRole)
                            {
                                <DxMenuItem Text="Course" IconCssClass="menu-icon bi bi-person-workspace" NavigateUrl="CourseIntroduction">
                                    <Items>
                                        <DxMenuItem Text="Enter/Exit Maintenance Mode" NavigateUrl="EnterExitMaintenance" />
                                        <DxMenuItem Text="Add/Edit Course Types" NavigateUrl="CourseTypeMnt" />
                                        <DxMenuItem Text="Add/Edit Venues" NavigateUrl="VenueMnt" />
                                        <DxMenuItem Text="Add/Edit Enrolment Terms" NavigateUrl="TermMnt" />
                                        <DxMenuItem Text="Add/Edit Public Holidays" NavigateUrl="PublicHolidayMnt" />
                                        <DxMenuItem Text="Add/Edit Courses" NavigateUrl="CourseMnt" />
                                        <DxMenuItem Text="Bring Forward Courses" NavigateUrl="BringForwardCourses" BeginGroup="true" />
                                        <DxMenuItem Text="View Multi-Campus Offers" NavigateUrl="ViewMultiCampusOffers" />
                                        <DxMenuItem Text="Cancel Class" NavigateUrl="CancelClassMnt" />
                                        <DxMenuItem Text="Course Schedule" NavigateUrl="CourseSchedule" />
                                    </Items>
                                </DxMenuItem>
                            }

                            //<DxMenuItem Text="Participant Data Import" NavigateUrl="ParticipantDataImport" />

                            if (isSystemAdminRole | isClericalRole)
                            {
                                <DxMenuItem Text="Participation" IconCssClass="menu-icon bi bi-people" NavigateUrl="ParticipationIntroduction">
                                    <Items>
                                        <DxMenuItem Text="Fees &amp; Receipting" NavigateUrl="CashIntroduction">
                                            <Items>
                                                <DxMenuItem Text="Bank Data Import" NavigateUrl="BankDataImport" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Text="Add/Edit Receipts" NavigateUrl="ReceiptMnt" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Text="Add/Edit Fees" NavigateUrl="FeeMnt" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Text="Review Online Payment Status" NavigateUrl="ReviewOnlinePaymentStatus" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Text="Complimentary Membership" NavigateUrl="AssignComplimentaryMembership" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem BeginGroup="true" Text="Receipts By Participant" NavigateUrl="XtraReportViewer/CashReceiptsByParticipantRpt" />
                                                <DxMenuItem Text="Receipts By Date" NavigateUrl="XtraReportViewer/CashReceiptsByDateRpt" />
                                                <DxMenuItem Text="Complimentary Membership Report" NavigateUrl="XtraReportViewer/ComplimentaryMembershipRpt" />
                                                <DxMenuItem Text="Financial Status Enquiry" NavigateUrl="FinancialStatusEnquiry" />
                                                <DxMenuItem Text="Course Fees Due Enquiry" NavigateUrl="CourseFeesDueEnquiry" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Add/Edit Participants" NavigateUrl="PersonMnt" />
                                        <DxMenuItem Text="Add/Edit Contacts" NavigateUrl="ContactMnt" />
                                        <DxMenuItem Text="Add/Edit Committee" NavigateUrl="CommitteeMnt" />
                                        <DxMenuItem Text="Add/Edit Volunteers" NavigateUrl="VolunteerMnt" />
                                        <DxMenuItem Text="Enrol Participants" NavigateUrl="EnrolMnt" />
                                        <DxMenuItem Text="Review Class Dropouts" NavigateUrl="ReviewDropouts" />
                                        <DxMenuItem Text="Class Attendance" NavigateUrl="AttendClassMnt" />
                                        <DxMenuItem BeginGroup=true Text="Bring Forward Enrolments" NavigateUrl="BringForwardEnrolments" Enabled="@(isSystemAdminRole)" />
                                        <DxMenuItem Text="Auto-Enrol Participants" NavigateUrl="AutoEnrolParticipants" Enabled="@(isSystemAdminRole)" />
                                        <DxMenuItem Text="Correspondence Hub" NavigateUrl="CorrespondenceHub" />
                                        <DxMenuItem Text="Ai Chat (PREVIEW)" NavigateUrl="AiChat" />
                                    </Items>
                                </DxMenuItem>
                            }

                            if (isSystemAdminRole | isCourseAdminRole | isClericalRole | isReportViewRole | isOfficeRole)
                            {
                                <DxMenuItem Text="Portal (Admin)"
                                IconCssClass="menu-icon bi bi-window-desktop"
                                NavigateUrl="AdminMemberPortal" />
                            }

                            if (isSystemAdminRole | isCourseAdminRole | isClericalRole | isReportViewRole)
                            {
                                <DxMenuItem Text="Reports" IconCssClass="menu-icon bi bi-printer" NavigateUrl="ReportsIntroduction">
                                    <Items>
                                        <DxMenuItem Text="Listings">
                                            <Items>
                                                <DxMenuItem Text="Course Type List" NavigateUrl="XtraReportViewer/CourseTypeList" />
                                                <DxMenuItem Text="Venue List" NavigateUrl="XtraReportViewer/VenueList" />
                                                <DxMenuItem Text="Public Holiday List" NavigateUrl="XtraReportViewer/PublicHolidayList" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Participant Reports">
                                            <Items>
                                                <DxMenuItem Text="New Participant List" NavigateUrl="XtraReportViewer/NewParticipantList" />
                                                <DxMenuItem Text="Life Member List" NavigateUrl="XtraReportViewer/LifeMembersList" />
                                                <DxMenuItem Text="Ceased Participant List" NavigateUrl="XtraReportViewer/CeasedParticipantList" />
                                                <DxMenuItem Text="Volunteer List" NavigateUrl="XtraReportViewer/VolunteerList" />
                                                <DxMenuItem Text="Participant Skills List" NavigateUrl="XtraReportViewer/SkillsList" />
                                                <DxMenuItem Text="Summary Participant List" NavigateUrl="XtraReportViewer/SummaryParticipantList" />
                                                <DxMenuItem Text="Duplicate Participant List" NavigateUrl="XtraReportViewer/DuplicateParticipantList" />
                                                <DxMenuItem Text="Mail Labels" NavigateUrl="XtraReportViewer/MaillingLabels" />
                                                <DxMenuItem Text="Member Badges" NavigateUrl="XtraReportViewer/MemberBadge" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Course, Class &amp; Schedule">
                                            <Items>
                                                <DxMenuItem Text="Course Listing" NavigateUrl="XtraReportViewer/CourseList" />
                                                <DxMenuItem Text="Class Schedule" NavigateUrl="XtraReportViewer/ClassScheduleRpt" />
                                                <DxMenuItem Text="Course By Venue List" NavigateUrl="XtraReportViewer/CourseByVenueList" />
                                                <DxMenuItem Text="Course By Leader List" NavigateUrl="XtraReportViewer/CourseByLeaderList" />
                                                <DxMenuItem Text="Course By Participant List" NavigateUrl="XtraReportViewer/CourseByParticipantList" />
                                                <DxMenuItem Text="Enrolment Report" NavigateUrl="XtraReportViewer/EnrolmentReport" />
                                                <DxMenuItem Text="Unsuccessful Requests Report" NavigateUrl="XtraReportViewer/UnsuccessfulRequestsList" />
                                                <DxMenuItem Text="Venue Conflicts List" NavigateUrl="XtraReportViewer/VenueConflictList" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Attendance Reports">
                                            <Items>
                                                <DxMenuItem Text="Attendance Analysis" NavigateUrl="AttendanceAnalysisPage" />
                                                <DxMenuItem Text="Attendance Summary" NavigateUrl="XtraReportViewer/AttendanceSummary" />
                                                <DxMenuItem Text="Attendance By Member" NavigateUrl="XtraReportViewer/AttendanceByMemberRpt" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Data Import Error Report" NavigateUrl="XtraReportViewer/DataImportErrorReport" />
                                    </Items>
                                </DxMenuItem>
                            }

                            <DxMenuItem Text="@((isVertical) ? "Settings" : "")"
                            IconCssClass="menu-icon bi bi-palette" NavigateUrl="ThemeIntroduction">
                                <Items>
                                    <DxMenuItem Text="Theme & Settings" NavigateUrl="Settings" />
                                    <DxMenuItem Text="Reset Factory Defaults"
                                    Click="OnResetDefaults" />
                                </Items>
                            </DxMenuItem>
                            <DxMenuItem Text="@((isVertical) ? "Manage Credentials" : "")"
                            IconCssClass="menu-icon bi bi-shield" NavigateUrl="SecurityIntroduction">
                                <Items>
                                    @if (IsTopMenu)
                                    {
                                        <DxMenuItem Click="OnLogout"
                                        Text="Logout"
                                        IconCssClass="menu-icon bi bi-door-open" />
                                    }
                                    <DxMenuItem Text="Change Email Address" IconCssClass="menu-icon bi bi-shield"
                                    NavigateUrl="Account/Manage/Email" />
                                    <DxMenuItem Text="Change Your Password" IconCssClass="menu-icon bi bi-shield"
                                    NavigateUrl="Account/Manage/ChangePassword" />
                                    <DxMenuItem Text="Two-Factor Authentication" IconCssClass="menu-icon bi bi-shield"
                                    NavigateUrl="Account/Manage/TwoFactorAuthentication" />
                                </Items>
                            </DxMenuItem>
                            @if (!IsTopMenu)
                            {
                                <DxMenuItem Click="OnLogout"
                                Text="Logout"
                                IconCssClass="menu-icon bi bi-door-open" />
                            }
                        }
                    }
                </Items>
            </DxMenu>
        </div>
    </div>

}
<style>
    .sidebar {
    height: 100% !important;
    }
</style>

@code {
    [Parameter]
    public bool IsTopMenu { get; set; } = true;

    bool isVertical = false;

    private string? currentUrl;

    U3ADbContext? dbc { get; set; }
    MessageBox? messageBox;

    bool isAuthenticated { get; set; }
    bool isSecurityAdminRole { get; set; }
    bool isSystemAdminRole { get; set; }
    bool isMembershipRole { get; set; }
    bool isAccountingRole { get; set; }
    bool isClericalRole { get; set; }
    bool isCourseAdminRole { get; set; }
    bool isReportViewRole { get; set; }
    bool isOfficeRole { get; set; }
    string? userName { get; set; }
    string OrganisationName = string.Empty;
    AuthenticationState? authenticationState;
    DxMenuItem? homeButton;

    protected override async Task OnInitializedAsync()
    {
        dbc = await U3Adbfactory.CreateDbContextAsync();
        OrganisationName = dbc.TenantInfo.Name!;
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        if (user != null)
        {
            isAuthenticated = user.Identity!.IsAuthenticated;
            userName = user.Identity.Name;
            isSecurityAdminRole = user.IsInRole("Security Administrator");
            isSystemAdminRole = user.IsInRole("System Administrator");
            isMembershipRole = user.IsInRole("Membership");
            isAccountingRole = user.IsInRole("Accounting");
            isCourseAdminRole = user.IsInRole("Course and Class");
            isReportViewRole = user.IsInRole("Report View");
            isClericalRole = user.IsInRole("Membership") |
                            user.IsInRole("Accounting");
            isOfficeRole = user.IsInRole("Office");
        }
        currentUrl = navMan.ToBaseRelativePath(navMan.Uri);
        navMan.LocationChanged += OnLocationChanged;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        isVertical = !IsTopMenu;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = navMan.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private void OnLogout()
    {
        // forces a close of the menu when it is in mobile mode & expanded.
        navMan.NavigateTo("javascript:document.getElementById('logout-form').submit();");
    }


    async Task OnSwitchMenu()
    {
        var key = "use-topmenu";
        var useTopMenu = true;
        if (await localStorage.ContainKeyAsync(key))
        {
            useTopMenu = !(await localStorage.GetItemAsync<bool>(key));
        }
        await localStorage.SetItemAsync<bool>(key, useTopMenu);
        navMan.NavigateTo("/", true);
    }

    async Task OnResetDefaults()
    {
        if (await messageBox!.ShowAsync("Reset Factory Defaults",
                            @"<p>
            This procedure will reset your application to factory defaults
            by deleting all customisations stored on your local device.
        </p>
        <p>Do you wish to continue?</p>"))
        {
            await localStorage.ClearAsync();
            navMan.NavigateTo("/", true);
        }
    }

    void OnChangeCredential(string page)
    {
        navMan.NavigateTo("Account/Manage/" + page, true);
    }

    public void Dispose()
    {
        navMan.LocationChanged -= OnLocationChanged;
        dbc?.Dispose();
    }
}

