@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Server.Circuits
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using U3A.Data

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject CircuitHandler circuitHandler
@inject NavigationManager navMan
@inject IJSRuntime js
@inject WorkStation ws
@implements IDisposable

@if (isInteractive)
{
    <div class="container-fluid">
        <DxFormLayout SizeMode="@sizeMode">

            <CascadingValue Value=@openCircuits Name="OpenCircuits">
                <CascadingValue Value="@loginState">
                    <CascadingValue Value="@hasRole" Name="HasRole">
                        @if (hasRole)
                        {
                            if (useTopMenu.HasValue)
                            {
                                if (useTopMenu.Value)
                                {
                                    <MainLayoutTopMenu Body="@Body" />
                                }
                                else
                                {
                                    <MainLayoutSideMenu Body="@Body" />
                                }
                            }
                        }
                        else
                        {
                            <MainLayoutTopMenu Body="@Body" />
                        }
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </DxFormLayout>
    </div>
}

@if (!isInteractive)
{
    <NotInteractive />
}
<style>
    .container-main {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.50rem);
        padding-left: var(--bs-gutter-x, 0.50rem);
        margin-right: auto;
        margin-left: auto;
    }
</style>

@code {

    private int openCircuits { get; set; }
    private bool hasRole { get; set; }
    private bool? useTopMenu = null; // default is sidebar
    private LoginState? loginState { get; set; }

    U3ADbContext? dbc { get; set; }
    bool isReady = false;
    string? currentUrl;
    bool isInteractive = false;
    SizeMode sizeMode;

    private DotNetObjectReference<MainLayout>? dotNetObjectReference;

    protected override async Task OnInitializedAsync()
    {
        dbc = await U3Adbfactory.CreateDbContextAsync();

        var hasSecurityAdmin = false;
        // Ensure all roles are created
        if (RoleManager != null)
        {
            foreach (string n in constants.nameOfRoles)
            {
                if (await RoleManager.FindByNameAsync(n) == null)
                {
                    await RoleManager.CreateAsync(new IdentityRole() { Name = n });
                }
            }
            // Do we have a user in the security admin role
            var role = await dbc.Roles.AsNoTracking().Where(x => x.Name == constants.nameOfRoles[0]).FirstAsync(); //super admin
            hasSecurityAdmin = await dbc.UserRoles.AsNoTracking().AnyAsync(r => r.RoleId == role.Id);
            if (!hasSecurityAdmin)
            {
                //a hasher to hash the password before seeding the user to the db
                var hasher = new PasswordHasher<IdentityUser>();
                // Get the security admin or create if not exists
                var sAdmin = await UserManager.FindByEmailAsync(constants.superAdmin);
                if (sAdmin == null)
                {
                    sAdmin = new ApplicationUser()
                        {
                            Email = constants.superAdmin,
                            UserName = constants.superAdmin,
                            EmailConfirmed = true,
                        };
                    sAdmin.PasswordHash = hasher.HashPassword(sAdmin, "U3A Rocks!!");
                    await UserManager.CreateAsync(sAdmin);
                }
                // Add security admin permission
                await UserManager.AddToRoleAsync(sAdmin, constants.nameOfRoles[0]);
            }
        }
        var roles = dbc.Roles;
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        foreach (var r in roles)
        {
            if (r != null)
            {
                if (authenticationState.User.IsInRole(r.Name!))
                {
                    hasRole = true;
                    break;
                }
            }
        }
        var authEmail = authenticationState.User.Identity!.Name;
        if (authEmail == constants.superAdmin) hasRole = true;
        loginState = new LoginState(authEmail!, U3Adbfactory);

        var ch = circuitHandler as CircuitHandlerService;
        ch!.CircuitsChanged += HandleCircuitsChanged!;
        openCircuits = ch.CircuitDetails.Count;
        currentUrl = navMan.ToBaseRelativePath(navMan.Uri);
        isReady = true;
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isInteractive = RendererInfo.IsInteractive;
            await ws.GetWorkstationDetail(localStorage);
            useTopMenu = ws.UseTopMenu;
            switch (ws.SizeMode)
            {
                case 1:
                    sizeMode = SizeMode.Medium;
                    break;
                case 2:
                    sizeMode = SizeMode.Large;
                    break;
                default:
                    sizeMode = SizeMode.Small;
                    break;
            }
            await InvokeAsync(StateHasChanged);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public void HandleCircuitsChanged(object sender, EventArgs args)
    {
        openCircuits = (circuitHandler as CircuitHandlerService)!.CircuitDetails.Count;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        (circuitHandler as CircuitHandlerService)!.CircuitsChanged -= HandleCircuitsChanged!;
        dbc?.Dispose();
    }


}
