@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Identity
@using U3A.Services
@using U3A.Model

@implements IDisposable;

@inject NavigationManager navMan
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject LocalTime lt
@inject IJSRuntime js
@inject WorkStation ws

@rendermode InteractiveServer

<DxButton Visible="true"
          Click="@(() => isDrawerOpen = !isDrawerOpen)"
          tooltip="Click to show/hide menu"
          CssClass="sidebar-toggle-button menu-icon"
          IconCssClass="bi bi-list"
          RenderStyle="ButtonRenderStyle.None" />

<style>
    .sidebar-toggle-button {
        z-index: 1040;
        left: 0;
        top: 0;
        margin: 0.2rem;
        position: absolute;
    }
</style>

@if (!isReady)
{
    <LoadingIndicator />
}
else
{
    <DxDrawer @bind-IsOpen="@isDrawerOpen"
              CssClass="drawer-style"
              Mode=@drawerMode
              CloseOnTargetContentClick="true"
              Position="DrawerPosition.Left"
              PanelWidth="17.5rem">
        <BodyTemplate>
            <SideBar />
        </BodyTemplate>
        <TargetContent>
            <DxGridLayout CssClass="">
                <Rows>
                    <DxGridLayoutRow Areas="Left-Blank content Right-Blank" Height="auto" />
                </Rows>
                <Columns>
                    @{
                        if (isSmallScreen)
                        {
                            <DxGridLayoutColumn Width= "1%" />
                            <DxGridLayoutColumn Width="99%" />
                            <DxGridLayoutColumn Width="0%" />
                        }
                        else
                        {
                            <DxGridLayoutColumn Width="@((isDrawerOpen) ? "1%" : "5%")" />
                            <DxGridLayoutColumn Width="@((isDrawerOpen) ? "98%" : "90%")" />
                            <DxGridLayoutColumn Width="@((isDrawerOpen) ? "1%" : "5%")" />
                        }
                    }
                </Columns>
                <Items>
                    <DxGridLayoutItem Area="Left-Blank" />
                    <DxGridLayoutItem Area="content" CssClass="mt-1 main">
                        <Template>
                            <ErrorBoundary @ref="@errorBoundary">
                                <ChildContent>
                                    <div class="pt-1">
                                        @if (!string.IsNullOrWhiteSpace(messageText))
                                        {
                                            <div class="alert alert-danger text-danger text-center mx-auto">
                                                @(new MarkupString(messageText))
                                            </div>
                                        }
                                        @Body
                                    </div>
                                </ChildContent>
                                <ErrorContent>
                                    <p class="u3admin-error-boundary mt-5">
                                        @if (constants.IS_DEVELOPMENT)
                                        {
                                            <div class="w-50">@context.ToString()</div>
                                        }
                                        Oops! Something went wrong. An unexpected error has occurred.<br />
                                        When reporting this issue please include the date and time: @(DateTime.UtcNow) UTC ( @(lt.GetLocalTimeAsync()) Local ).
                                        <button class="btn btn-warning" @onclick="ResetError">Reset</button>
                                    </p>
                                </ErrorContent>
                            </ErrorBoundary>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Area="Right-Blank" CssClass="d-print-none vh-100" />
                </Items>
            </DxGridLayout>
        </TargetContent>
    </DxDrawer>
}

@code {
    [Parameter]
    public RenderFragment? Body { get; set; } = null;
    [CascadingParameter(Name = "HasRole")]
    public bool hasRole { get; set; }

    ErrorBoundary? errorBoundary;
    IEnumerable<IdentityRole>? Roles { get; set; }
    U3ADbContext? dbc { get; set; }
    string? messageText;
    bool isDrawerOpen;
    DrawerMode drawerMode;
    bool isSmallScreen;
    bool isReady;


    protected override async Task OnInitializedAsync()
    {
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            Roles = dbc.Roles.ToList();
            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            foreach (var r in Roles)
            {
                if (authenticationState.User.IsInRole(r.Name!))
                {
                    hasRole = true;
                    break;
                }
            }
            var authEmail = authenticationState.User.Identity!.Name;
            if (authEmail == constants.superAdmin) hasRole = true;
        }
        setupMenu();
        navMan.LocationChanged += (sender, args) =>
        {
            if (args != null)
            {
                setupMenu();
            }
        };
        isReady = true;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var file = $"{System.IO.Directory.GetCurrentDirectory()}{@"\wwwroot\message.html"}";
        messageText = string.Empty;
        if (File.Exists(file))
        {
            messageText = await File.ReadAllTextAsync(file);
        }
        if (firstRender)
        {
            setupMenu();
        }
    }

    private void ResetError()
    {
        errorBoundary?.Recover();
        navMan.NavigateTo("/", true);
    }

    private void setupMenu()
    {
        isSmallScreen = !ws.IsLargeScreen;
        isDrawerOpen = (isSmallScreen) ? false : true;
        drawerMode = (isSmallScreen) ? DrawerMode.Overlap : DrawerMode.Shrink;
        StateHasChanged();
    }

    public void Dispose()
    {
        dbc?.Dispose();
    }

}

