@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Identity
@using U3A.Services

@implements IDisposable;

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject LocalTime lt

<div class="page">
    <DxGridLayout CssClass="page-layout">
        <Rows>
            <DxGridLayoutRow Areas="navigation header" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation content"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="auto" />
            <DxGridLayoutColumn />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="vw-100 d-print-none" />
            <DxGridLayoutItem Area="footer" CssClass="vw-100 d-print-none" />
            <DxGridLayoutItem Area="navigation" CssClass="layout-sidebar d-print-none">
                <Template>
                    <SideBar />
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="content" CssClass="content p-2">
                <Template>
                    <ErrorBoundary @ref="@errorBoundary">
                        <ChildContent>
                            @if (!string.IsNullOrWhiteSpace(messageText))
                            {
                                <div class="alert alert-danger text-danger text-center mx-auto">
                                    @(new MarkupString(messageText))
                                </div>
                            }
                            @Body
                         </ChildContent>
                        <ErrorContent>
                            <p class="u3admin-error-boundary mt-5">
                                @if (constants.IS_DEVELOPMENT)
                                {
                                    <div class="w-50">@context.ToString()</div>
                                }
                                Oops! Something went wrong. An unexpected error has occurred.<br />
                                When reporting this issue please include the date and time: @(DateTime.UtcNow) UTC ( @(lt.GetLocalTimeAsync()) Local ).
                                <button class="btn btn-warning" @onclick="ResetError">Reset</button>
                            </p>
                        </ErrorContent>
                    </ErrorBoundary>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>


@code {

    [Parameter]
    public RenderFragment? Body { get; set; } = null;

    ErrorBoundary? errorBoundary;
    U3ADbContext? dbc { get; set; }
    string? messageText;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var file = $"{System.IO.Directory.GetCurrentDirectory()}{@"\wwwroot\message.html"}";
        messageText = string.Empty;
        if (File.Exists(file))
        {
            messageText = await File.ReadAllTextAsync(file);
            if (firstRender) StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void ResetError()
    {
        errorBoundary?.Recover();
        NavigationManager.NavigateTo("/", true);
    }

    public void Dispose()
    {
        dbc?.Dispose();
    }

}

