@using U3A.UI.Forms
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity;
@using Microsoft.JSInterop
@using System.IO


@inject IJSRuntime js
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navMan
@implements IDisposable;


@{

    <div class="@((IsTopMenu)
                ? "card shadow-sm w-100"
                : "sidebar")">
        <div class="d-print-none">
            <DxMenu ItemClick="OnItemClick" CssClass="menu-item menu"
                    DropDownActionMode="MenuDropDownActionMode.Click"
                    ItemsPosition="ItemPosition.End"
                    Orientation="@((IsTopMenu) ? Orientation.Horizontal : Orientation.Vertical)"
                    SizeMode="@((IsTopMenu) ? SizeMode.Small : SizeMode.Medium)"
                    CollapseItemsToHamburgerMenu="@true">
                <TitleTemplate>
                    @if (IsTopMenu)
                    {
                        <span class="title"><img src="images/U3ALogo.png" alt="@context">&nbsp;@OrganisationName</span>
                    }
                    else
                    {
                        <div class="title">@OrganisationName<hr /></div>
                    }
                </TitleTemplate>
                <Items>
                    @{
                        if (isAuthenticated)
                        {

                            <DxMenuItem Click="@OnCloseMenu" IconCssClass="bi bi-house" NavigateUrl="./">
                                <TextTemplate>
                                    @((isVertical) ? "Home" : "")
                                </TextTemplate>
                            </DxMenuItem>

                            if (isSystemAdminRole || isSecurityAdminRole)
                            {
                                <DxMenuItem Text="Admin" IconCssClass="bi bi-gear">
                                    <Items>
                                        @if (isSecurityAdminRole)
                                        {
                                            <DxMenuItem Click="@OnCloseMenu" Text="Login Security &amp; Role Assignment" NavigateUrl="IdentityUserMnt" />
                                        }
                                        <DxMenuItem Click="@OnCloseMenu" Text="Organisation Details" NavigateUrl="OrganisationDetailsMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Membership Fees" NavigateUrl="MembershipFeesMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Document Templates" NavigateUrl="DocumentTemplateMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Setup an Office PC" IconCssClass="bi bi-display" NavigateUrl="/OfficePC.html" />
                                    </Items>
                                </DxMenuItem>
                            }

                            if (isSystemAdminRole | isCourseAdminRole)
                            {
                                <DxMenuItem Text="Course" IconCssClass="bi bi-menu-button-fill">
                                    <Items>
                                        <DxMenuItem Click="@OnCloseMenu" Text="Enter/Exit Maintenance Mode" NavigateUrl="EnterExitMaintenance" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Course Types" NavigateUrl="CourseTypeMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Venues" NavigateUrl="VenueMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Enrolment Terms" NavigateUrl="TermMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Public Holidays" NavigateUrl="PublicHolidayMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Courses" NavigateUrl="CourseMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Bring Forward Courses" NavigateUrl="BringForwardCourses" BeginGroup="true" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Cancel Class" NavigateUrl="CancelClassMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Course Schedule" NavigateUrl="CourseSchedule" />
                                    </Items>
                                </DxMenuItem>
                            }

                            //<DxMenuItem Text="Participant Data Import" NavigateUrl="ParticipantDataImport" />

                            if (isSystemAdminRole | isClericalRole)
                            {
                                <DxMenuItem Text="Participation" IconCssClass="bi bi-menu-button">
                                    <Items>
                                        <DxMenuItem Text="Fees &amp; Receipting">
                                            <Items>
                                                <DxMenuItem Click="@OnCloseMenu" Text="Bank Data Import" NavigateUrl="BankDataImport" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Receipts" NavigateUrl="ReceiptMnt" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Fees" NavigateUrl="FeeMnt" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Complimentary Membership" NavigateUrl="AssignComplimentaryMembership" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Click="@OnCloseMenu" BeginGroup="true" Text="Receipts By Participant" NavigateUrl="XtraReportViewer/CashReceiptsByParticipantRpt" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Receipts By Date" NavigateUrl="XtraReportViewer/CashReceiptsByDateRpt" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Review Online Payment Status" NavigateUrl="ReviewOnlinePaymentStatus" Enabled="@(isSystemAdminRole | isAccountingRole)" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Complimentary Membership Report" NavigateUrl="XtraReportViewer/ComplimentaryMembershipRpt" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Financial Status Enquiry" NavigateUrl="FinancialStatusEnquiry" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Course Fees Due Enquiry" NavigateUrl="CourseFeesDueEnquiry" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Participants" NavigateUrl="PersonMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Committee" NavigateUrl="CommitteeMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Add/Edit Volunteers" NavigateUrl="VolunteerMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Enrol Participants" NavigateUrl="EnrolMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Review Class Dropouts" NavigateUrl="ReviewDropouts" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Class Attendance" NavigateUrl="AttendClassMnt" />
                                        <DxMenuItem Click="@OnCloseMenu" BeginGroup=true Text="Bring Forward Enrolments" NavigateUrl="BringForwardEnrolments" Enabled="@(isSystemAdminRole)" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Auto-Enrol Participants" NavigateUrl="AutoEnrolParticipants" Enabled="@(isSystemAdminRole)" />
                                        <DxMenuItem Click="@OnCloseMenu" Text="Correspondence Hub" NavigateUrl="CorrespondenceHub" />
                                    </Items>
                                </DxMenuItem>
                            }

                            if (isSystemAdminRole | isCourseAdminRole | isClericalRole | isReportViewRole | isOfficeRole)
                            {
                                <DxMenuItem Click="@OnCloseMenu" Text="Portal (Admin)" IconCssClass="bi bi-people" NavigateUrl="AdminMemberPortal" />
                            }

                            if (isSystemAdminRole | isCourseAdminRole | isClericalRole | isReportViewRole)
                            {
                                <DxMenuItem Text="Reports" IconCssClass="bi bi-printer" NavigateUrl="/">
                                    <Items>
                                        <DxMenuItem Text="Listings">
                                            <Items>
                                                <DxMenuItem Click="@OnCloseMenu" Text="Course Type List" NavigateUrl="XtraReportViewer/CourseTypeList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Venue List" NavigateUrl="XtraReportViewer/VenueList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Public Holiday List" NavigateUrl="XtraReportViewer/PublicHolidayList" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Participant Reports">
                                            <Items>
                                                <DxMenuItem Click="@OnCloseMenu" Text="New Participant List" NavigateUrl="XtraReportViewer/NewParticipantList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Life Member List" NavigateUrl="XtraReportViewer/LifeMembersList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Ceased Participant List" NavigateUrl="XtraReportViewer/CeasedParticipantList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Volunteer List" NavigateUrl="XtraReportViewer/VolunteerList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Participant Skills List" NavigateUrl="XtraReportViewer/SkillsList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Summary Participant List" NavigateUrl="XtraReportViewer/SummaryParticipantList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Duplicate Participant List" NavigateUrl="XtraReportViewer/DuplicateParticipantList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Mail Labels" NavigateUrl="XtraReportViewer/MaillingLabels" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Course, Class &amp; Schedule">
                                            <Items>
                                                <DxMenuItem Click="@OnCloseMenu" Text="Course Listing" NavigateUrl="XtraReportViewer/CourseList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Class Schedule" NavigateUrl="XtraReportViewer/ClassScheduleRpt" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Course By Venue List" NavigateUrl="XtraReportViewer/CourseByVenueList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Course By Leader List" NavigateUrl="XtraReportViewer/CourseByLeaderList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Course By Participant List" NavigateUrl="XtraReportViewer/CourseByParticipantList" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Enrolment Report" NavigateUrl="XtraReportViewer/EnrolmentReport" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Venue Conflicts List" NavigateUrl="XtraReportViewer/VenueConflictList" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Text="Attendance Reports">
                                            <Items>
                                                <DxMenuItem Click="@OnCloseMenu" Text="Attendance Analysis" NavigateUrl="XtraReportViewer/AttendanceAnalysis" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Attendance Summary" NavigateUrl="XtraReportViewer/AttendanceSummary" />
                                                <DxMenuItem Click="@OnCloseMenu" Text="Attendance By Member" NavigateUrl="XtraReportViewer/AttendanceByMemberRpt" />
                                            </Items>
                                        </DxMenuItem>
                                        <DxMenuItem Click="@OnCloseMenu" Text="Data Import Error Report" NavigateUrl="XtraReportViewer/DataImportErrorReport" />
                                    </Items>
                                </DxMenuItem>
                            }

                            <DxMenuItem IconCssClass="bi bi-palette">
                                <TextTemplate>
                                    @((isVertical) ? "Theme & Settings" : "")
                                </TextTemplate>
                                <Items>
                                    <DxMenuItem Click="@OnCloseMenu" Text="Office White" />
                                    <DxMenuItem Click="@OnCloseMenu" Text="Blazing Berry" />
                                    <DxMenuItem Click="@OnCloseMenu" Text="Blazing Dark" />
                                    <DxMenuItem Click="@OnCloseMenu" Text="Purple" />
                                    <DxMenuItem BeginGroup=true
                                                Text="Swicth Menu Position"
                                                Click="OnSwitchMenu" />
                                </Items>
                            </DxMenuItem>
                            <DxMenuItem IconCssClass="bi bi-shield">
                                <TextTemplate>
                                    @((isVertical) ? "Manage Credentials" : "")
                                </TextTemplate>
                                <Items>
                                    @if (IsTopMenu)
                                    {
                                        <DxMenuItem Click="OnLogout" Text="Logout" IconCssClass="bi bi-door-open" />
                                    }
                                    <DxMenuItem Text="Change Email Address" IconCssClass="bi bi-shield"
                                                Click="@(() => OnChangeCredential("Email"))" />
                                    <DxMenuItem Text="Change Your Password" IconCssClass="bi bi-shield"
                                                Click="@(() => OnChangeCredential("ChangePassword"))" />
                                    <DxMenuItem Text="Two-factor authentication" IconCssClass="bi bi-shield"
                                                Click="@(() => OnChangeCredential("TwoFactorAuthentication"))" />
                                </Items>
                            </DxMenuItem>
                            @if (!IsTopMenu)
                            {
                                <DxMenuItem Click="OnLogout" Text="Logout"
                                            IconCssClass="bi bi-door-open">
                                    <TextTemplate>
                                        @((isVertical) ? "Logout" : "")
                                    </TextTemplate>
                                </DxMenuItem>
                            }
                        }
                    }
                </Items>
            </DxMenu>
        </div>
    </div>

    <MessageBox @ref="@messageBox" />
    <ContextHelpTitle @ref=@help HelpTopic="" ActivationStyle="HelpActivationStyle.None" Title="Help" />

}
<style>
    .sidebar {
        height: 100% !important;
    }
</style>

@code {
    [Parameter]
    public bool IsTopMenu { get; set; } = true;

    bool isVertical = false;

    private string? currentUrl;

    U3ADbContext? dbc { get; set; }
    MessageBox? messageBox;

    bool isAuthenticated { get; set; }
    bool isSecurityAdminRole { get; set; }
    bool isSystemAdminRole { get; set; }
    bool isMembershipRole { get; set; }
    bool isAccountingRole { get; set; }
    bool isClericalRole { get; set; }
    bool isCourseAdminRole { get; set; }
    bool isReportViewRole { get; set; }
    bool isOfficeRole { get; set; }
    string? userName { get; set; }
    string OrganisationName = string.Empty;
    ContextHelpTitle? help;
    AuthenticationState? authenticationState;

    protected override async Task OnInitializedAsync()
    {
        dbc = await U3Adbfactory.CreateDbContextAsync();
        OrganisationName = dbc.TenantInfo.Name!;
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        if (user != null)
        {
            isAuthenticated = user.Identity!.IsAuthenticated;
            userName = user.Identity.Name;
            isSecurityAdminRole = user.IsInRole("Security Administrator");
            isSystemAdminRole = user.IsInRole("System Administrator");
            isMembershipRole = user.IsInRole("Membership");
            isAccountingRole = user.IsInRole("Accounting");
            isCourseAdminRole = user.IsInRole("Course and Class");
            isReportViewRole = user.IsInRole("Report View");
            isClericalRole = user.IsInRole("Membership") |
                            user.IsInRole("Accounting");
            isOfficeRole = user.IsInRole("Office");
        }
        currentUrl = navMan.ToBaseRelativePath(navMan.Uri);
        navMan.LocationChanged += OnLocationChanged;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        isVertical = !IsTopMenu;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = navMan.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    string[] themes = new string[] { "office white", "blazing berry", "blazing dark", "purple" };

    void OnItemClick(MenuItemClickEventArgs e)
    {
        var name = e.ItemInfo.Text;
        if (!string.IsNullOrWhiteSpace(name))
        {
            if (themes.Contains(name.ToLower()))
            {
                var theme = name.ToLower().Replace(" ", "-");
                localStorage.SetItemAsync("theme", theme).SafeFireAndForget();
                navMan.NavigateTo("/", true);
            }
        }
    }

    private async Task OnCloseMenu()
    {
        // forces a close of the menu when it is in mobile mode & expanded.
        if (isVertical) { await js.InvokeVoidAsync("closeSideBarMenu"); await InvokeAsync(StateHasChanged); }
    }

    private async Task OnLogout()
    {
        // forces a close of the menu when it is in mobile mode & expanded.
        await js.InvokeVoidAsync("logout"); await InvokeAsync(StateHasChanged);
    }


    async Task ShowHelp()
    {
        await help!.ShowTopicAsync();
    }

    async Task OnSwitchMenu()
    {
        await OnCloseMenu();
        var key = "use-topmenu";
        var useTopMenu = true;
        if (await localStorage.ContainKeyAsync(key))
        {
            useTopMenu = !(await localStorage.GetItemAsync<bool>(key));
        }
        await localStorage.SetItemAsync<bool>(key, useTopMenu);
        navMan.NavigateTo("/", true);

    }

    async void OnChangeCredential(string page)
    {
        await OnCloseMenu();
        navMan.NavigateTo("Account/Manage/" + page, true);
    }


    public void Dispose()
    {
        navMan.LocationChanged -= OnLocationChanged;
        dbc?.Dispose();
    }

}

