@page "/AdminMemberPortal"

@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject NavigationManager navMan
@inject IJSRuntime js
@inject WorkStation ws

@using Microsoft.AspNetCore.Components.Authorization
@using U3A.UI.Forms.Pages.MembersPortal

@implements IDisposable

@attribute [Authorize]

@if (!IsReady)
{
    <LoadingIndicator />
}
else
{
    <CascadingValue Value="@LoginState">

        <MessageBox @ref="@messageBox" />

        <div class="my-2">
            <DxToolbar style="border-bottom:solid; border-color:whitesmoke;">
                <Items>
                    <DxToolbarItem Click=@(() => navMan.NavigateTo("AdminMemberPortal",true))
                                   CssClass="me-1 mb-1"
                                   Text="Process Member" IconCssClass="bi bi-person" />
                    <DxToolbarItem Click="@(() => buttonClick = buttonClicks.WhatsOnToday)"
                                   CssClass="me-1 mb-1"
                                   Text="What's On Today" IconCssClass="bi bi-clock" />
                    <DxToolbarItem CssClass="me-1 mb-1"
                                   Text="Attendance" IconCssClass="bi bi-person-check">
                        <Items>
                            <DxToolbarItem Click="@(() => buttonClick = buttonClicks.RecordAttendance)"
                                           RenderStyle="ButtonRenderStyle.Secondary"
                                           Text="Record Attendance" IconCssClass="bi bi-emoji-smile" />
                            <DxToolbarItem Click="@(() => buttonClick = buttonClicks.AttendanceNotRecorded)"
                                           RenderStyle="ButtonRenderStyle.Secondary"
                                           Text="Attendance Not Recorded" IconCssClass="bi bi-emoji-angry" />
                            <DxToolbarItem Click="@(() => buttonClick = buttonClicks.AttendanceSummary)"
                                           RenderStyle="ButtonRenderStyle.Secondary"
                                           Text="Attendance Summary" IconCssClass="bi bi-columns" />
                            <DxToolbarItem Click="@(() => buttonClick = buttonClicks.AttendanceAnalyisis)"
                                           RenderStyle="ButtonRenderStyle.Secondary"
                                           Text="Attendance Analysis" IconCssClass="bi bi-columns-gap" />
                        </Items>
                    </DxToolbarItem>
                    <DxToolbarItem Click="@(() => buttonClick = buttonClicks.AdminLeaderReport)"
                                   CssClass="me-1 mb-1"
                                   Text="Leader Report" IconCssClass="bi bi-printer" />
                    <DxToolbarItem Click="@(() => isDrawerOpen = !isDrawerOpen)"
                                   CssClass="mb-1"
                                   Text="Calendar" IconCssClass="bi bi-calendar"
                                   Alignment="ToolbarItemAlignment.Right" />
                </Items>
            </DxToolbar>
        </div>
        <DxDrawer @bind-IsOpen="@isDrawerOpen"
                  CssClass="drawer-style"
                  Mode="DrawerMode.Shrink"
                  Position="DrawerPosition.Right"
                  PanelWidth="20rem">
            <TargetContent>
                <DxLoadingPanel @bind-Visible="isProcessing"
                                IsContentBlocked="true"
                                ApplyBackgroundShading="true"
                                IndicatorAreaVisible="false"
                                Text="Processing Eway receipts...">
                    @switch (buttonClick)
                    {
                        case buttonClicks.ProcessOnBehalfOf:
                            <DxFormLayout CssClass="my-2">
                                <div hidden="@(isSelected)" class="@((isDrawerOpen) ? formWidthCalendarOpen : formWidthCalendarClosed)">
                                    <div class="h3 text-center">Member Portal (Administration)</div>
                                    <div class="h6 text-center">This procedure is intended for administration to process enrolments and/or membership fees on behalf of members.</div>
                                    <DxFormLayoutGroup Caption="Process Member Enrolments / Renewals"
                                                       Visible="@(!isAccordianShowingMemberDetails)"
                                                       ColSpanMd="12" Context="groupContext">
                                        <HeaderContentTemplate>
                                            <div class="d-flex input-group">
                                                <div class="text-start flex-grow-1">
                                                    Process Member
                                                </div>
                                                <div class="flex-grow-0">
                                                    <DxButton Text="Refresh" Click="OnRefresh" IconCssClass="bi bi-arrow-clockwise" Tooltip="Click to refresh lookup data" />
                                                </div>
                                            </div>
                                        </HeaderContentTemplate>
                                        <Items>
                                            <DxFormLayoutItem Caption="Process on behalf of" CssClass="member-selection-width">
                                                <PersonsComboBox People="@people" @bind-SelectedPerson="@selectedPerson"
                                                                 ShowProcessButton="true"
                                                                 OnProcessButtonClicked="async(Person value) => {
                                                                                                    selectedPerson = value;
                                                                                                    await OnProcess();}" />
                                            </DxFormLayoutItem>
                                        </Items>
                                    </DxFormLayoutGroup>
                                </div>
                                @if (isSelected)
                                {
                                    <div class="w-100">
                                        <MemberPortal IsAdminMemberPortal="true"
                                                      OnReturnToAdminPortal="@(async() => await OnReturnFormPortal())" />
                                    </div>
                                }
                                else
                                {
                                    <div class="@((isDrawerOpen) ? formWidthCalendarOpen : formWidthCalendarClosed)">
                                        <DxAccordion ExpandMode="AccordionExpandMode.Single" CssClass="w-100"
                                                     ExpandCollapseAction="AccordionExpandCollapseAction.HeaderClick">
                                            <Items>
                                                <DxAccordionItem Text="Received Today"
                                                                 Expanded="true"
                                                                 Context="receiptContext">
                                                    <ContentTemplate>
                                                        <div class="m-2">
                                                            <DxGrid @ref=@receiptGrid Data="@RecevivedToday" CssClass="member-grid-height"
                                                                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                                                                    UnboundColumnData="Grid_UnboundColumnData"
                                                                    TextWrapEnabled="false"
                                                                    ShowFilterRow="false"
                                                                    ShowAllRows="true"
                                                                    KeyFieldName="ID">
                                                                <Columns>
                                                                    <DxGridDataColumn Width="5rem" Caption="Time"
                                                                                      FieldName="CreatedTime"
                                                                                      DisplayFormat="hh:mm tt"
                                                                                      UnboundType="GridUnboundColumnType.DateTime" />
                                                                    <DxGridDataColumn Width="10rem" Caption="Name" FieldName="Person.FullName" />
                                                                    <DxGridDataColumn Width="12rem" Caption="Description" FieldName="Description" />
                                                                    <DxGridDataColumn Caption="Identifier" FieldName="Identifier" />
                                                                    <DxGridDataColumn Width="6rem" Caption="Financial To" FieldName="Person.FinancialToBriefText" DisplayFormat="f0" />
                                                                    <DxGridDataColumn Width="7rem" Caption="Amount" FieldName="Amount" DisplayFormat="c2" />
                                                                </Columns>
                                                                <TotalSummary>
                                                                    <DxGridSummaryItem FieldName="Amount"
                                                                                       SummaryType="GridSummaryItemType.Sum"
                                                                                       FooterColumnName="Amount"
                                                                                       ValueDisplayFormat="c2" />
                                                                </TotalSummary>
                                                            </DxGrid>
                                                        </div>
                                                    </ContentTemplate>
                                                </DxAccordionItem>
                                                <DxAccordionItem Text="Add/Edit Member Details"
                                                                 ExpandedChanged="@((bool expanded) => isAccordianShowingMemberDetails = expanded)"
                                                                 Expanded="false" Context="memberContext">
                                                    <ContentTemplate>
                                                        <div class="mt-2 alert-info text-dark text-center"><small>Press the <strong>Refresh</strong> button to refresh data after adding/editing members</small></div>
                                                        <div class="mx-2"><PersonMnt IsEmbedded="true" /></div>
                                                    </ContentTemplate>
                                                </DxAccordionItem>
                                            </Items>
                                        </DxAccordion>
                                    </div>
                                }
                            </DxFormLayout>
                            break;

                        case buttonClicks.WhatsOnToday:
                            <CourseSchedule IsPortal=true />
                            break;

                        case buttonClicks.RecordAttendance:
                            <div class="mt-2">
                                <AttendClassMnt IsAdminPortal="true" />
                            </div>
                            break;

                        case buttonClicks.AttendanceNotRecorded:
                            <AttendanceNotRecordedSummary />
                            break;

                        case buttonClicks.AttendanceSummary:
                            <CourseAttendanceSummary />
                            break;

                        case buttonClicks.AttendanceAnalyisis:
                            <AttendanceAnalysis />
                            break;

                        case buttonClicks.AdminLeaderReport:
                            <AdminLeaderReport />
                            break;
                    }

                </DxLoadingPanel>
            </TargetContent>
            <BodyTemplate>
                <ClassCalendar DisplayOffset="@((ws.UseTopMenu) ? 6.7 : 4.7)" />
            </BodyTemplate>
        </DxDrawer>
    </CascadingValue>
}
<style>

    .member-selection-width {
        width: 98%;
    }

    .member-grid-height {
        height: 40dvh;
    }

    .drawer-style {
        max-height: calc(100% - @((ws.UseTopMenu) ? "6rem" : "3rem") );
    }

    .tabs-style {
        width: 98%;
    }

</style>

@code {

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    public LoginState? LoginState { get; set; }

    bool IsReady;
    bool isSelected = false;
    bool isProcessing;
    bool isAccordianShowingMemberDetails { get; set; }
    static bool isDrawerOpen = false;
    string drawerHeightAdjustment;
    buttonClicks buttonClick = buttonClicks.ProcessOnBehalfOf;
    IGrid receiptGrid;

    MessageBox? messageBox;
    U3ADbContext dbc { get; set; }
    List<Person> people { get; set; }
    Person selectedPerson { get; set; }
    string authEmail;
    IEnumerable<Receipt> RecevivedToday;
    string formWidthCalendarOpen = "col col-12 mt-1 mx-auto";
    string formWidthCalendarClosed = "col col-12 px-lg-0 col-lg-10 col-xl-8 mt-1 px-1 mx-auto";

    enum buttonClicks
    {
        ProcessOnBehalfOf,
        WhatsOnToday,
        RecordAttendance,
        AttendanceNotRecorded,
        AttendanceSummary,
        AttendanceAnalyisis,
        AdminLeaderReport,
    }

    protected override async Task OnInitializedAsync()
    {
        await OnRefresh();
        drawerHeightAdjustment = ws.UseTopMenu ? "4rem" : "1.35rem";
        IsReady = true;
    }

    private async Task GetData()
    {
        using (dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            people = await BusinessRule.SelectablePersonsIncludeUnfinancialAsync(dbc);
            using (var dbc = await U3Adbfactory.CreateDbContextAsync())
            {
                RecevivedToday = (await dbc.Receipt.AsNoTracking()
                            .Include(x => x.Person)
                            .Where(x => x.Amount != 0 && x.User != null &&
                             x.User.ToLower() == authEmail.ToLower())
                            .OrderByDescending(x => x.CreatedOn).ToListAsync())
            .Where(x => dbc.GetLocalTime(x.CreatedOn.Value) >= dbc.GetLocalDate());
            }
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            selectedPerson = null;
            var authenticationState = await authenticationStateTask;
            authEmail = authenticationState.User.Identity.Name;
            if (selectedPerson != null)
            {
                await OnProcess();
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task CheckEwayStatus()
    {
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            bool hasUnprocessedPayments = await BusinessRule.HasUnprocessedOnlinePayment(dbc);
            if (hasUnprocessedPayments)
            {
                isProcessing = true;
                await InvokeAsync(StateHasChanged);
                var term = await BusinessRule.CurrentEnrolmentTermAsync(dbc);
                if (term == null) term = await BusinessRule.CurrentTermAsync(dbc);
                foreach (var payment in (await BusinessRule.GetUnprocessedOnlinePayment(dbc)))
                {
                    try
                    {
                        var service = new EwayPaymentService();
                        await service.FinaliseEwayPyamentAsync(U3Adbfactory, payment, term);
                    }
                    catch (HttpRequestException)
                    {
                        break;
                    }
                    catch (Exception ex) { }
                }
            }
        }
    }

    async Task OnRefresh()
    {
        await CheckEwayStatus();
        await OnClearSelection();
    }

    async Task OnClearSelection()
    {
        await GetData();
        isSelected = false;
        selectedPerson = null;
        isProcessing = false;
        await InvokeAsync(StateHasChanged);
    }

    async Task OnProcess()
    {
        isSelected = false;
        if (selectedPerson == null)
        {
            await messageBox.ShowOkOnlyAsync("Member not selected", "Please select a member to process.");
        }
        else
        {
            using (var dbc = await U3Adbfactory.CreateDbContextAsync())
            {
                selectedPerson = await dbc.Person.FindAsync(selectedPerson.ID);
            }
            LoginState = new LoginState(authEmail, selectedPerson, U3Adbfactory);
            isSelected = true;
        }
    }

    async Task OnReturnFormPortal()
    {
        isSelected = false;
        selectedPerson = null;
        StateHasChanged();
    }

    void Grid_UnboundColumnData(GridUnboundColumnDataEventArgs e)
    {
        var receipt = e.DataItem as Receipt;
        if (e.FieldName == "CreatedTime")
        {
            using (var dbc = U3Adbfactory.CreateDbContext())
            {
                e.Value = dbc.GetLocalTime(receipt.CreatedOn.Value);
            }
        }
    }


    public void Dispose()
    {
        dbc?.Dispose();
    }
}

